[2014-08-14 22:21] jonathanong opened #1 "review"
before i release 1.0.0.

@hueniverse: if this looks good to you, i'll add you (and whoever else) as owner as well

[2014-08-14 22:31] Fishrock123 opened #2 "Remove `compressible: false` entries"
These are pointless.

[2014-08-15 00:28] jonathanong opened #3 "binary/text flags"
would be nice, especially for mime types that aren't `text/`. i want to know if i could treat a file as a string. might be able to get rid of charset as well.

[2014-08-17 22:35] #1 closed, assigned to nobody

[2014-08-17 22:47] #2 closed, assigned to nobody

[2014-08-19 05:45] thany opened #4 "Suggestion: add perceived type"
Friendly suggestion to add perceived type to each mime type. This would make it easier to distinguish between types of media such as video, audio, graphics, text, etc. The first part of a mime type is not always the deciding factor, after all. Plus there are agnostic mime groups, like application.

Perhaps perceived type could be left out when the mime group makes it clear by itself.

[2014-08-20 14:51] humphd opened #5 "Suggestion: reverse map for extension lookup"
One thing that would be nice would be a way to go from extension to mime-type(s), encoding, compressing info, etc.  Perhaps it could be generated as a second file in your build step.

This project is a great idea, well done.

[2014-08-30 11:53] jonathanong opened #6 "source.md from mime-types"
### Sources for custom types

This is a list of sources for any custom mime types.
When adding custom mime types, please link to where you found the mime type,
even if it's from an unofficial source.

- `text/coffeescript` - http://coffeescript.org/#scripts
- `text/x-handlebars-template` - https://handlebarsjs.com/#getting-started
- `text/x-sass` & `text/x-scss` - https://github.com/janlelis/rubyb

[2014-08-30 12:01] jonathanong opened #7 "more types"
https://github.com/jshttp/mime-types/issues/4

[2014-08-30 13:40] Fishrock123 opened #8 "Support WebGL Shader types"
This one's a bit tricky. The same file type is associated with two mime types depending on the shader type.

The json would look like this:

[code]

Source: https://developer.mozilla.org/en-US/docs/Web/WebGL/Adding_2D_content_to_a_WebGL_context

[2014-08-30 18:49] #5 closed, assigned to nobody

[2014-09-01 22:11] #8 closed, assigned to nobody

[2014-12-22 02:13] dougwilson opened #13 "Various wrong mime types"
The code to read from the IANA database is using the template file link's name to determine the mime type; this is not always the same. Example is basically all the MIME type entries we have that contains `vnd-` instead of `vnd.`

[2014-12-22 05:40] #13 closed, assigned to dougwilson

[2014-12-23 00:48] alecmce opened #15 "Just started getting build errors in mime-db"
[code]

[2014-12-23 01:17] #15 closed, assigned to nobody

[2015-01-25 19:31] btd opened #16 "font/woff for woff font"
Hi.

I havs small application that proxy pages (basically download pages and associated resources) and i noticed that some sites return woff fonts with `font/woff`, i did not notice this module has this content-type.

[2015-01-25 19:38] dougwilson commented on #16
`.woff` is `application/font-woff`
`.woff2` is `application/font-woff2`

[2015-01-25 19:39] dougwilson commented on #16
This is as per the `WOFF` font specification: http://www.w3.org/TR/WOFF/#appendix-b

[2015-01-25 19:39] #16 closed

[2015-01-26 08:14] btd commented on #16
Yes, i know about `application/woff`, but you may know that e.g in early days it was `application/x-font-woff`. The same was with `font/woff`.
I agree that it is not a good option to add everything that developer come in mind, at least in this question will be all alternatives that i am adding for this font.

[2015-01-26 12:50] dougwilson commented on #16
Gotcha. As far as what mime types we have, we don't keep a list here, we only pull it from the sources listed in the readme. If one of those sources adds other woff mimes, then we'll automatically pick it up.

[2015-01-26 14:24] Fishrock123 commented on #16
`font/woff` is invalid, there is no type namespace of `font/`.

Are there specific clients that require this? e.g. chrome gives warnings unless OpenType Fonts are served as `font/otf`.

[2015-01-27 11:29] btd opened #17 "Worth to add nginx mime.types"
You may know that nginx another wide popular proxy server, and it has own mime.types db.
That is nearest [link](https://github.com/git-mirror/nginx/blob/master/conf/mime.types). It is short but for some mime types it has additional extenisions.

[2015-01-27 16:52] dougwilson commented on #17
Adding nginx sounds fine to me.

[2015-01-30 02:41] dougwilson commented on #17
Ok, so I added this in a branch https://github.com/jshttp/mime-db/compare/nginx , but since it's adding even more duplicate file extensions, I think we really need to compile a source of ext-to-preferred-mime db before I can merge this.

[2015-02-05 16:45] metaraine opened #19 "Add common name?"
Thoughts about adding a property like `commonName` that provides a short, commonly used label for certain types?

e.g.
text/calendar is commonly known as iCalendar.

This is coming up for me because I am building an app that displays file types as a dropdown list for end users.

[2015-02-05 16:52] dougwilson commented on #19
That's fine as long as we can source it from somewhere and not have to add it manually to every single type.

[2015-02-05 16:56] dougwilson commented on #19
This is what the registration on the IANA looks like for `text/calendar`: http://www.iana.org/assignments/media-types/text/calendar

[2015-02-05 18:35] jonathanong commented on #19
another example is `urlencoded` - `application/x-www-form-urlencoded` (maybe `form` as well)

[2015-02-05 20:08] metaraine commented on #19
Most mime-types can just use what's after the `/`, without `x-` or `vnd`, as a user-friendly name. There are just a few like iCalendar that are different and indeterminable from the type alone. I feel like manually adding it to those few wouldn't be too hard.

Maybe it's not worth it though and it's easier to just map friendly names in-application or in a small separate module.

[2015-02-05 20:17] dougwilson commented on #19
If we need to have some hand-rolled values that's fine, but I'll probably have to accept it as a PR, if you're so inclined. Right now we have 1,787 mime types listed. Really, to add a new data point, I would except at least 75% of them have the data point. If we can generate them in a way where they _always_ make sense (and if they don't, then the generator needs to just leave the field null), the

[2015-02-05 20:20] dougwilson commented on #19
For example, you probably have to hand roll `application/vnd.openxmlformats-officedocument.presentationml.presentation`, since that is the MIME type for "PowerPoint Presentation", and doesn't seem determinable from the type itself.

[2015-02-07 00:41] metaraine commented on #19
Good points. I will think about this.

On Thu, Feb 5, 2015 at 1:20 PM, Douglas Christopher Wilson <
notifications@github.com> wrote:

[2015-02-08 02:10] dougwilson opened #20 "Better way to manage extension priority for multiple types"
We need a better way to manage extension priority for multiple types (i.e. provide an extension -> mime mapping).

[2015-02-08 03:02] dougwilson commented on #17
This will land after #20 lands :)!

[2015-02-09 02:25] dougwilson commented on #20
I am debating between two different APIs here:

  1. `require('mime-db')` will look the exact same, but there will be a new, non-enumerable property `require('mime-db').extensions` that will contain the extension map. **Pro** is backward-compatible with all the modules that depend on this library on npm. **Con** it's mixing things together.
  2. Just make `require('mime-db')` no longer be a direct

[2015-02-09 04:48] broofa commented on #20
My $.02: Prioritize at the source level, and be explicit about which source trumps which. E.g. I'd suggest:

  1. Apache
  2. Nginx
  3. Node community submitted extensions

One thing to consider is what happens if one of these datasets (e.g. Apache) is updated to cause a conflict.  The priority here would ideally reflect the willingness of organizations to bring there dataset in line with what ot

[2015-02-09 04:52] dougwilson commented on #20
@broofa yes, this is what I'm doing, but in order to provide this organized list for extension -> mime lookup (we already do this for mime -> data), we will have to actually provide the list in some way. Right now the modules on top of this are simply iterating over the db and just building the list, but of course that means their list is going to be organized alphabetically by mime type, rather t

[2015-02-09 05:38] jonathanong commented on #20
@dougwilson something like

[code]

[2015-02-09 05:39] jonathanong commented on #20
i don't mind breaking changes :D

[2015-02-09 13:15] broofa commented on #20
I'm confused about what the issue is here.

You mean, if the same extension appears in multiple type definitions?  Is that allowed???  In node-mime I disallowed that.  (i.e. node.types was not allowed to conflict with mime.types.)  I would suggest you do the same here.  That's part of the reason for having an explicit priority for the sources, so you can resolve such conflicts as part of building

[2015-02-09 15:14] dougwilson commented on #20
Correct.

It sure is, even within the IANA database itself (which is what we're supposed to be mimicking here). For example, both http://www.iana.org/assignments/media-types/image/vnd.dvb.subtitle and http://www.iana.org/assignments/media-types/text/vnd.dvb.subtitle list `.sub` as their file extension. There are a bunch more than that, but I knew of that one off the top of my head.

So, there is a

[2015-02-09 21:22] broofa commented on #20
Ah, I see.  Thanks for clarifying.

I see `source` properties for every mime type except the ones brought in from custom.json.  Assuming undefined source == 'custom', is that sufficient information?

Regardless, the more I think about this, the more I suspect priority is going to be a matter of preference.  Someone running on nginx may want those mappings to take precedence over Apache.  And do yo

[2015-02-09 21:35] dougwilson commented on #20
It still does not work, because `db.json` lost information: it does not contain the source for each _extension_, only the source for the _mime_.

[2015-02-09 21:38] dougwilson commented on #20
[code]
So in the above, `foo` was defined by IANA, but `bar` was defined by Apache. You cannot tell this information and thus build your _extension -> mime_ with the correct ordering according to your preference. Basically this is what I'm trying to solve. Suggestions?

[2015-02-09 21:45] dougwilson commented on #20
Also, this is becoming a problem and it's even harder to resolve, and we need a solution:
[code]
Well... so there are two MIMEs that are IANA registered, but due to historical reasons, one has the officially registered extension, and the other has the traditional community extension from Apache or nginx. How can a library like `mime-db-extensions` determine this?

[2015-02-09 21:46] dougwilson commented on #20
Edit: I merged both scenarios into a single comment above, if you're looking for where they went.

[2015-02-10 01:37] dougwilson commented on #20
For anyone that's following along, I'm looking for at least two votes for doing one of the following:

### 1. expand the current extensions to add a source

Entries in `db.json` would look like the following:
[code]

### 2. add a second db to provide extension -> mime mappings

Entries in `db.json` would stay the same; entries in this new db would look like:
[code]

--------

Both of these will he

[2015-02-10 01:53] jonathanong commented on #20
either one is fine for me. how do you handle "default" mime types, though? just the first extension?

[2015-02-10 01:56] dougwilson commented on #20
I'm not sure what this means. Do you mean what is the "default mime type for a given extension"? for num 2, it's just a straight map. for num 1, it's out of the scope of this library, like it is today in v1.

[2015-02-10 01:59] jonathanong commented on #20
oh fuck. what i want to know is, "what is the default extensions for a mime type?"

[2015-02-10 02:04] dougwilson commented on #20
Gotcha. So that is here already: it is `db[type].extensions[0]`. The `mime-db` of today only supports going _type -> extension_, not the other way around, but I don't think we have to have that limitation :)

[2015-02-10 02:10] jonathanong commented on #20
okay cool. that's all i'm worried about, so i would opt for num 1 unless num 2 handles that.

[2015-02-10 02:15] dougwilson commented on #20
Both provide _type -> default extension_; in fact, num 2 doesn't touch `db.json` format at all, as noted in the description :)

[2015-02-10 18:09] broofa commented on #20
Is it appropriate for mime-db to make decisions about conflicts and ambiguity in the dataset?  This is the question I'm wrestling with right now.

If the answer is, "no", then wouldn't it make sense for the `db.json` to retain as much information as possible so downstream projects can use that to act in whatever manner works best for them.  And, I believe, that implies limiting the amount of restr

[2015-02-10 18:39] dougwilson commented on #20
I appreciate the feedback. We definitely cannot maintain a manual resolution map, unless someone is going to volunteer to go through all 1.7k entries and create this map and be available once a week to resolve issues from doing pulls. The intent is that everything from remote sources requires no manual intervention.

[2015-03-04 19:16] LorenzGardner opened #22 ".wav files show up as "audio/x-wav" instead of "audio/wav""
when setting the mime type for .wav files internet explore is a bit picky...

valid options are: audio/wav, audio/wave, audio/x-wave, audio/vnd.wave

Chrome happily accepts the "audio/x-wav" but IE does not.

See: broofa/node-mime#118

As broofa points out, "audio/wav" is the official type according to the IANA Waveform Audio File Format registration.
 http://tools.ietf.org/html/draft-ema-vpim-wav

[2015-03-04 19:33] dougwilson commented on #22
Ah, yes. This is coming from Apache, which is (currently) our only source of file extensions. I will need to complete #20 before we can actually have the ability to override the Apache types.

[2015-04-07 13:12] gchudnov opened #24 "Magic numbers"
Are there any plans to add magic number support to deduce the mime-type for a Buffer?
e.g. "ff d8 ff e0" for "image/jpeg"

[2015-04-07 13:18] Fishrock123 commented on #24
No, that is well beyond the scope of this library. jpegs should already have been labeled as `image/jpeg`.

[mmmagic](https://www.npmjs.com/package/mmmagic) does byte sniffing for types, however.

[2015-04-07 13:18] #24 closed

[2015-04-08 03:32] dougwilson commented on #24
We could potentially add what the magic numbers are to our database, but they aren't very useful. The `mmmagic` library, as @Fishrock123 pointed to, is really better than we could ever do; some types you pretty much have to fully parse the file to detect (looking at you, MP3).

[2015-04-08 06:04] gchudnov commented on #24
That's right, but it doesn't work in the browser. You have to upload file to the server to use it.
But I see your point.

[2015-04-08 06:10] jonathanong commented on #24
https://github.com/sindresorhus/is-jpg

there are a lot of these as tiny modules on npm. there are a lot!

[2015-05-31 05:27] dougwilson commented on #22
So that references RFC is a draft, so it's not very useful. Apparently it ended up officially becoming `audio/vnd.wave` in http://tools.ietf.org/html/rfc2361 , but looking around all over the place, it seems like the best choice for us may be to use `audio/wav`. I haven't determined the reason Apache is using `audio/x-wav` yet, though.

[2015-05-31 05:35] #22 closed

[2015-05-31 05:54] dougwilson commented on #7
I'm closing this issue, as it's more of a call to contribute that belongs in the readme rather than an endless issue. We do have https://github.com/jshttp/mime-db#contributing

[2015-05-31 05:54] #7 closed

[2015-05-31 05:55] dougwilson commented on #6
We don't really need endless issues; if there is something to address here, let me know :)

[2015-05-31 05:55] #6 closed

[2015-06-07 03:38] dougwilson commented on #19
So I'm going to close this due to lack of activity; I haven't thought of anything in the meantime, but if you do, let me know and I can always reopen :)

[2015-06-07 03:38] #19 closed

[2015-06-07 05:28] #17 closed

[2015-06-07 05:28] dougwilson commented on #17
nginx types are not officially a source :)

[2015-06-07 05:28] dougwilson commented on #17
nginx types are now officially a source :)

[2015-06-07 07:02] dougwilson commented on #4
So I looked really hard into this, and though it sounds nice to have, the way it actually works in Windows is part of the type registration (which lives in the registry). Applications can alter these types at will and there is pretty much no central place for these things to exist. It basically seems like making this would be completely hand-rolled, which seems like a large task.

It is certainly

[2015-06-07 13:52] metaraine commented on #19
K, will do ;)

On Sat, Jun 6, 2015 at 9:38 PM, Douglas Christopher Wilson <
notifications@github.com> wrote:

[2015-06-27 10:39] madole opened #31 "can't install v1.14.0 via npm"
Looks like this package is released at version v1.14.0 on npm but when i install it via ``` npm install mime-db ``` I get v1.13.0

[2015-06-27 13:30] dougwilson commented on #31
Hi! Unfortunately I'm not having this issue, nor is Travis CI and npm's registry is reporting 1.14.0. You may need to open an issue with npm for help, as you may have some kind of local issue.

[2015-06-27 13:30] #31 closed

[2015-06-28 00:07] madole commented on #31
Are you sure it's published correctly? I've done ```npm view mime-db``` on both my local mac and from inside a node docker container and got the following output both times.

It looks like it's not been published correctly.

[code]

[2015-06-28 00:44] dougwilson commented on #31
I am sure it is published correctly, otherwise Travis CI could not be installing it. I see you are not using the registry, but instead a mirror: registry.npmjs.org.au. Perhaps that mirror you are using is lagging behind? Here is the `npm view mime-db` from the actual, official npm registry, which you see includes 1.14.0:
[code]

[2015-06-28 00:49] dougwilson commented on #31
Here is a link between the difference as well:

Official: https://registry.npmjs.org/mime-db/1.14.0
AU mirror you are using: https://registry.npmjs.org.au/mime-db/1.14.0

[2015-06-28 00:50] madole commented on #31
Great catch, I totally forgot I was pointing to the Australian registry. I've pointed it back and now get the same output as you.

Sorry for the inconvenience, I was having a bit of a meltdown there as I couldn't see the what was going on. I'll keep this in mind when using mirrors in the future.

Thanks,
Andrew

[2015-06-28 00:51] dougwilson commented on #31
No problem. When you actually first posted the issue, I would have never thought it would be a mirror issue :) It just happened to be in the link to the tarball in your output, which is what got us there :)

[2015-08-03 11:28] dogancelik opened #33 ""application/x-msdos-program" is missing"
I use https://github.com/broofa/node-mime which uses this module.

This file: http://download.mp3tag.de/mp3tagv271setup.exe

Has `Content-Type` header: `application/x-msdos-program`

I google'd and `application/x-msdos-program`'s extension is `.exe`.

[2015-08-14 02:49] #33 closed

[2015-08-14 02:49] dougwilson commented on #33
Thanks, added!

[2015-09-04 05:31] akullpp opened #34 "Can't find 1.18.0"
Several node modules report that 1.18.0 couldn't be found and npm downloads 1.17.0 did you forget to update the registry?

[code]

[2015-09-04 09:44] akullpp commented on #34
Sorry, was a local caching issue.

[2015-09-04 09:44] #34 closed

[2016-02-01 03:57] ryandesign opened #41 "Define .php files as text/html not application/x-httpd-php"
GitHub Pages uses mime-db to decide what content type to use when serving static files. This means that a static file named "index.php" will be served with the MIME type "application/x-httpd-php" which makes the browser download the file instead of interpreting it. This makes it impossible for an existing web site, which happened to use PHP pages and ".php" extensions in its URLs, to migrate to Gi

[2016-02-08 17:00] mruddy opened #44 "Dynamic adaptive streaming over HTTP (DASH) file extension typo?"
https://www.iana.org/assignments/media-types/application/dash+xml
application/dash+xml is registered for file extension "mpd", not "mdp".
related standard ISO/IEC 23009-1:2014

master currently references "mdp" in two places that i saw:
https://github.com/jshttp/mime-db/blob/master/db.json#L220
https://github.com/jshttp/mime-db/blob/master/src/custom-types.json#L21

[2016-02-10 20:42] dougwilson commented on #44
Looks like when we merged in the `mime` project into this module, that's where it came from: https://github.com/jshttp/mime-db/commit/129996a4e437e33bcad8e488c48fb191671fe158

Probably just a simple typo, which we would be glad to fix :)!

[2016-02-10 21:02] dougwilson commented on #41
Hi @ryandesign! So this is a tricky one, because there is a difference between the PHP file itself (being `application/x-httpd-php`) and what the PHP file will actually output after being run (typically `text/html`). I don't think it makes sense to classify `.php` as `text/html` in this module, because this is a classification of the actual files themselves, but what they happen to output. Otherwi

[2016-02-10 21:02] #41 closed

[2016-02-10 21:04] ryandesign commented on #41
I agree with you. I'll pass your recommendation on to them.

[2016-02-10 21:21] dougwilson commented on #41
Haha, I went to see if this was possible, and it lead me to https://help.github.com/articles/mime-types-on-github-pages/ :) Seems like it may not be possible just yet, but may be valuable. We're happy to get anything added, for sure! This is just a weird one is all :) I understand what you are trying to do, which is to keep your linking working, which used to be `.php`, and I think that makes sens

[2016-02-11 05:15] #44 closed

[2016-02-11 15:24] mruddy commented on #44
looks good, thanks!

[2016-04-19 09:18] Martii opened #47 "Provisional Standard Media Type Registry"
Hi there. Thanks for this great project.

I did have a question however. Currently `image/jxr` is sitting in "limbo" at [IANA](http://www.iana.org/assignments/provisional-standard-media-types/provisional-standard-media-types.xhtml) however it is actively being used in Windows 10 Edge browsers. Our site has received a few of these requests already.

It is also my understanding that the `.jxr` exten

[2016-04-28 04:24] dougwilson commented on #47
Hm, that is a good question, and one that I have not thought of before. The description for what that is for says the following:

Through, of course, in practice it may be used differently :) The `image/jxr` issue can of course be resolved for now by making a pull request adding it to the custom types section, which is mixed into everything, but of course that would be something in parallel with t

[2016-05-06 17:42] NHQ opened #49 "wanting to add a type"
I wish to add a type for .sha256 extensions (and perhaps other cyphers).  Any thoughts?

[2016-05-06 18:21] dougwilson commented on #49
Hi! The best way to get new media types included in this library is to register them with the IANA. The community registration procedure is outlined in RFC 6838 section 5. Types registered with the IANA are automatically pulled into this library.

Are these registered types? This database is just an aggregation of the sources outlined in the readme, not really the place for new types to appear. If

[2016-08-22 09:32] adrienrn commented on #49
What about aliases that IANA will not accept such as `text/javascript` instead of the now standard `application/javascript`?

For example, PHP which mime type is not yet standard can use multiple mime types. One will eventually make it to the IANA or Apache public domain but what to do with aliases that make sense in a way:

- text/x-php (debian magic detection)
- application/php (following what's

[2016-09-18 10:25] dougwilson commented on #49
Types that are not accepted by the IANA can also be added here, yes, in the `custom-types.json` file. Feel free to file a PR! We try to be really careful of what we add here, so we try to limit it to truly existing types that are not official rather than new types people want to just create, if that makes sense.

So if you want to make a PR, please go ahead! Try to explain why you think the type s

[2016-09-18 10:25] #49 closed

[2016-10-12 14:51] Alcotana opened #52 "Add 'audio/x-vorbis' mime types"
`audio/x-vorbis`, `audio/x-vorbis+ogg` ← `ogg`

PR #53

[2016-10-12 14:54] Alcotana commented on #52
Sorry, it is supported. Remove this issue.

[2016-10-13 13:09] dougwilson commented on #52
Hi @Alcotana I'm' not sure what happened, but your link leads to "We went looking everywhere, but couldn’t find those commits."

[2016-10-13 23:32] Martii commented on #52
@dougwilson
Contact support as the page it pulls in references issue #51 which doesn't appear to be related. Also @Alcotana's [history](https://github.com/Alcotana?tab=overview&from=2016-09-01&to=2016-09-30&utf8=%E2%9C%93) doesn't show any PRs/commits right now like the rest of us.

[2016-10-14 00:18] Martii commented on #52
And now it shows a repo commit. heh... seems like a GH issue for support.

[2016-10-14 08:25] Alcotana commented on #52
Yeah, the link is broken because I dropped the commit from the branch. The commit got into PR #51, which is about 'wav' files. I created another PR about 'ogg': #53

[2016-11-13 09:25] ronag opened #57 "vnd.apple.mpegurl compressible?"
Shouldn't .m3u8 files be compressible since they are essentially just text?

[2016-11-22 01:17] dougwilson commented on #57
Hi @ronag , there are so, so many types, there is no way we can go through all of them and figure it out :) If you are seeing one that is incorrect or undefined, please feel free to make a PR to define it in the custom types file :) !

[2016-11-22 01:21] dougwilson commented on #52
Closing from the conversation in #53

[2016-11-22 01:21] #52 closed

[2016-11-22 01:23] dougwilson commented on #47
Hi @Martii I'm going to close this issue, but please feel free to make PR to add the type to the custom types file :)

[2016-11-22 01:23] #47 closed

[2016-11-22 01:23] #4 closed

[2016-12-01 18:48] #57 closed

[2017-02-13 10:52] alolis opened #62 "Mime type for .tar.gz and .tgz?"
Hello,

I was wondering if the mentioned file extensions are going to be supported at some point. After checking around the recommended mime type for them is `application/gzip` but I might be wrong.

Looking forward to any feedback

[2017-02-13 17:57] dougwilson commented on #62
Hi @alolis this project is just aggregating different sources. The best way to get them added it to get them added to one of the downstream sources, like the Apache or NGINX projects, and then we'll automatically pull the definitions in.

[2017-02-18 12:46] darsain opened #63 "Move jpg to the first index of image/jpeg extensions array"
Before:
[code]

After:
[code]

Why?

`mime-types` module has an `.extension(type)` method that returns first extension in this array, which is the horrible and ugly `jpeg` that none prefers over `jpg`, so I always have to do:

[code]

Or modify the `extensions` array at the start of my app (effectively detaching it from the affected code), than forgetting I did that, move to another project, and h

[2017-02-18 18:20] dougwilson commented on #63
This project is just an aggregation of the sources listed in the README. It does already list the extensions with the most preferred as the first element. It looks like both the Apache and NGINX projects want to prefer the use of the jpeg extension, so I think the best course of action is to bring it up in those projects and we'll automatically pull down any change made upstream.

[2017-02-18 20:11] #63 closed

[2017-02-18 20:15] #62 closed

[2017-02-23 12:02] JigneshRaval opened #64 "Issue in loading WOFF fonts in Express JS"
Hi,

I was facing issue in loading WOFF fonts while using Ionicons icon-font in my Express.js + Node application.

After some investigation I have found that either we need to update or add new entry for WOFF fonts in DB.json file as given below at line no 370.

`application/x-font-woff`

db.json line no 370:  ` "application/x-font-woff" `

Ref URL : [http://stackoverflow.com/questions/3594823/mim

[2017-02-23 16:16] dougwilson commented on #64
Hi @JigneshRaval this module aggregates from the sources listed in the readme. The `.woff` extension is mapped to `application/font-woff`, the official type by the Apache project. If they change the mapping, we'll automatically pull it in :)

[2017-02-23 16:16] #64 closed

[2017-02-23 16:18] dougwilson commented on #64
In the Stackoverflow post you linked it, it says as of 2012, Chrome expects `application/font-woff`, not `application/x-font-woff`. The `application/font-woff` is what we have, so I'm not sure what is happening to you unless you're using a pre-2012 Chrome. Also, I don't think this module is in the dependency tree for Express currently, so not sure if a change here will make a direct difference the

[2017-04-09 08:02] novakf opened #70 "TypeScript"
Hello,

I am missing the TypeScript MIME type here. I would like to use it to serve mapped sources from GitHub using GitHub pages. Is it possible to add it?

Thanks

[2017-04-09 09:53] novakf commented on #70
It works well even with MIME. I am sorry, I got something wring in the map file

[2017-04-09 09:53] #70 closed

[2017-05-30 07:15] alrra opened #77 "Update font media types"
The [`font` top-level media type](https://tools.ietf.org/html/rfc8081) has been registered, so the new media types for font files are as follows:

| Font format | Media type |
|:---|:---|
| `collection` | `font/collection` |
| `otf` | `font/otf` |
| `sfnt` | `font/sfnt` |
| `ttf` | `font/ttf` |
| `woff` |	`font/woff` |
| `woff2` | `font/woff2` |

See also: https://www.iana.org/assignments/media-ty

[2017-06-04 11:40] Bizarrus opened #78 ".vdf MIME"
The MIME-Type for `.vdf` files don't exists in the Database.

**Extension:** `.vdf`
**Name:** `Valve Data File`
**Documentation:** https://developer.valvesoftware.com/wiki/KeyValues
**Conflicts:** `.vdf` will be used by `Avira` (https://www.avira.com/en/support-vdf-details)

[2017-06-12 02:33] siddo420 opened #79 "support for ac3 voc files"
I was suggested to create a ticket here instead. The original is at https://github.com/broofa/node-mime/issues/159

[2017-06-12 15:31] Neats29 opened #80 "Cannot find module './db.json'"
I'm getting this error and no matter what I do I can't get rid of it.

I'm using typescript v2.3.4
node v7.8.0 (though seeing the same issue with 7.4.0)
and my tsconfig is:
[code]
I've ran `npm cache clean` and re-installed all my node modules.
If I delete my generated built folder and run the code, everything works as expected but when I run it again, I get the above error. Any ideas?

[2017-06-15 01:16] dougwilson commented on #80
Hi @Neats29 I'm not very familiar with TypeScript, so I don't know what that JSON means. Is it possible you can provide the exact instructions of what I need to do to reproduce the issue so I can take a look? Perhaps a git repo I can just clone and then run a command in to see it?

[2017-06-16 13:39] broofa opened #81 "Should '.aac' map to 'audio/aac'?"
[code]

`audio/aac` is a thing according to https://en.wikipedia.org/wiki/Advanced_Audio_Coding.  This is also what MDN says the type should at https://goo.gl/lHrFU6.

(Note: this isn't breaking anything for me... I just happened to notice this discrepancy while working up some new tests for node-mime)

[2017-06-16 15:06] dougwilson commented on #81
So it looks like this extension + type map is coming from the Apache project (https://github.com/jshttp/mime-db/search?q=aac), though that doesn't mean we cannot also add a second definition for the plain audio/aac here, though it doesn't look like audio/aac is registered with the IANA, which is probably why it still has the x- prefix on it. I wish Wikipedia would actually show from what source th

[2017-06-16 15:11] Martii commented on #81
@dougwilson

W3 work for you at https://www.w3.org/2013/12/byte-stream-format-registry/mpeg-audio-byte-stream-format.html#h2_mime-types ?

[2017-07-11 02:09] dougwilson commented on #80
Closing since I never heard back.

[2017-07-11 02:09] #80 closed

[2017-07-14 21:36] timcosta opened #86 "video/quicktime should map to .mov, not .qt"
Running into an issue where files with the extension `.mov` are getting the mimetype `video/qucktime`, and then if we decode the mimetype it comes back as `.qt`.

You can see that apache has updated their spec here: https://issues.apache.org/jira/browse/TIKA-1882

[2017-07-14 21:42] dougwilson commented on #86
It is mapped to both in our database, as the type could be either or: https://github.com/jshttp/mime-db/blob/be37b05719ad488f4dcd5fd2c901f59608aeff1e/db.json#L6661-L6665

Apache also maps the type to both extensions in their mapping (http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types):

So what is the issue?

[2017-07-14 21:43] timcosta commented on #86
@dougwilson I suppose my issue is likely in `node-mime` then, as it is returning `.qt` and not `.mov` for `video/quicktime`. Sorry about that, and thanks for the fast response!

[2017-07-14 21:49] dougwilson commented on #86
Gotcha. I looked though out sources (we really just aggregate Apache + nginx + IANA) and it's just the Apache mappings that are providing the `.qt` extension mapping. If the Apache projects removes it, then it'll automatically get removed from this module, as the nature that we are just an aggregation. Our format is just a list of whatever extensions our sources have on file for a given type in an

[2017-07-14 21:49] #86 closed

[2017-07-15 14:37] JanPeter commented on #79
It seems that this file type is already in the database as you can see here [db.json](https://github.com/jshttp/mime-db/blob/master/db.json#L5065)

[2017-07-21 18:27] sholladay commented on #77
This would be a nice change as it is simpler and more intuitive. I am curious about browser support.

[2017-07-21 19:17] alrra commented on #77
I [responded](https://twitter.com/alrra/status/744966378160070656) to a now deleted tweet about that.

TL;DR: browsers ignore font media types.

[2017-07-21 19:25] dougwilson commented on #77
Is that all browsers or only current browsers? I'd be interesting to know about current Firefox, current Firefox ESR, current Chrome, current Safari, current Edge, current IE, IE10 (probably IE9, but no lower since I think SSL is broken now on those anyway). Anything else @sholladay you would like to know about?

[2017-07-21 19:51] sholladay commented on #77
I only personally care about latest of: Chrome, Firefox, Safari, Edge

FYI Microsoft dropped support for IE < 11 early last year and they are no longer even remotely secure, as they stopped receiving basic security patches. IE11 has approximately 13% market share and falling quickly. It is a new day!

I know the situation with fonts on mobile has traditionally been very different than desktop (e.g

[2017-07-21 20:20] alrra commented on #77
@dougwilson The only problem was with old Blink/WebKit based browsers, which used to [display a warning(https://github.com/h5bp/server-configs-apache/issues/32#issuecomment-47935393), but that is [no longer the case](https://bugs.chromium.org/p/chromium/issues/detail?id=460669).

[2017-07-21 20:35] dougwilson commented on #77
I wonder when Apache / NGINX will update their mappings to use these new types. I'm going to see if there are bug reports in those projects. That's where our font types are coming from today, if you were wondering :)

[2017-07-29 11:04] NaveenDA commented on #7
Here the complete list of offically registered mime types.
http://www.iana.org/assignments/media-types/media-types.xhtml

[2017-08-07 08:12] alrra commented on #77
@dougwilson Did you manage to look into that? Thanks!

Also, in the meantime,

[2017-08-08 01:12] dougwilson commented on #77
Hi @alrra I didn't check yet. I can take a look now. I would prefer this remain simply an aggregation system, as in it just passes through the other sources, so unless there is some specific reason (like types that came into existence before IANA and similar, as one example) I would rather not add things to custom.json . Our font data comes from the Apache / NGINX projects currently, so updating t

[2017-08-08 01:15] dougwilson commented on #77
A quick search didn't find anything in the Apache HTTPD bug tracker, but found https://trac.nginx.org/nginx/ticket/1243 for NGINX.

[2017-08-14 21:04] ltomes opened #89 "3gp support"
Hi, I have a local branch where I have added support for `3gp` files (Files that return a mime of 'video/3gp') But I don't seem to have permission to push my branch up to origin for PR.

Thanks for your time!

[2017-08-14 21:10] dougwilson commented on #89
Hi @ltomes to contibute to GitHub repositories in general, you have to fork the repository, push to your fork, this create a pull request back in the original one based on your fork.

I found the following guide in the GitHub Bootcamp that should help explain the flow of doing this: https://help.github.com/articles/fork-a-repo/

[2017-08-14 23:46] ltomes commented on #89
Thanks for the link Doug! I will push my changes to a fork and create a PR.

[2017-08-15 01:28] #89 closed

[2017-08-28 02:18] dougwilson commented on #77
@alrra you're welcome to make a pull request to get the types added, though that will just list the existing extensions twice until the upstream removes them.

[2017-08-28 10:03] alrra commented on #77
[Done](https://github.com/jshttp/mime-db/pull/90).

:(

[2017-09-12 14:16] sbechet opened #91 "woff and woff2"
`"application/font-woff":["woff"],"application/font-woff2":["woff2"],`

is

`"font/woff":["woff"],"font/woff2":["woff2"],`

Proof example:

* `wget -v https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2`

[2017-09-12 14:37] sbechet commented on #91
[IANA media-types database](http://www.iana.org/assignments/media-types/media-types.xhtml) :

[code]

AND

[code]

[2017-09-19 15:55] salsx opened #92 "mime.lookup(audiofile.mp3) get wrong mimetype and extension"
filename = audiofile.mp3
mimetype: audio/mpeg
extension: mpga

temporary workaround is modify db.json (see below)

before:
  "audio/mpeg": {
    "source": "iana",
    "compressible": false,
    "extensions": ["mpga","mp2","mp2a","mp3","m2a","m3a"]

after:
  "audio/mpeg": {
    "source": "iana",
    "compressible": false,
    "extensions": ["mp3","mpga","mp2","mp2a","m2a","m3a"]

waiting your feedb

[2017-09-19 16:13] dougwilson commented on #92
I'm not sure what you mean; this module is just a JSON file so has no lookup method. The array of extensions is an unordered list, so changing the order doesn't convey any meaning here.

[2017-09-19 16:32] salsx commented on #92
I tried to do this lookup -> mime.lookup("audiofile.mp3")   receiving this mimetype: audio/mpeg, and if try to get extension from this mime type audio/mpeg I've got mpga,    is right?

Thanks
Giuseppe

[2017-09-19 16:50] dougwilson commented on #92
Hi @salsx I'm not sure; this module is just a JSON file, it doesn't have any methods to call to do lookups or anything. I believe you may be posted in the wrong module. If you look at what the name of the module you're `require()`ing in your code, just go to https://www.npmjs.com/ and look up the module. The right-hand side will have a link for where to report issues with that module. I hope that

[2017-09-19 16:50] #92 closed

[2017-09-22 20:31] adylevy opened #93 "No support for HEIC / HEIF"
with iOS 11 this is going to be a big issue..

[2017-09-22 20:52] dougwilson commented on #93
https://github.com/jshttp/mime-db#adding-custom-media-types

[2017-09-30 10:52] Sterpa opened #94 "UTF-8 charset by default on "text/html""
Hi,
In the 21st century, UTF-8 became de facto the standard for www.
In order to not overwrite thousands of http-server, it's enough to change "text/html" to "text/html;charset=UTF-8" in mime-types by default.
This does not change the work of old html-documents in any way, but instantly includes the correct display of many-many new languages.

[code]

[2017-09-30 15:23] dougwilson commented on #94
Hi! The db.json file is auto generated from the upstream sources listed st the top of the readme. If the upstream is changed, this module will automatically pull in the change.

[2017-09-30 15:23] #94 closed

[2017-10-11 03:29] dougwilson commented on #77
Alright, Apache changed their types now, which makes landing this fit very nicely now :O

[2017-10-11 07:52] alrra commented on #77
@dougwilson I've updated #90.

[2017-10-25 18:46] #77 closed

[2017-10-25 18:46] #91 closed

[2017-11-05 19:33] gabrielstuff opened #101 "iWork mime types for keynote, numbers and pages."
these extensions are missing

[2017-11-05 20:58] gabrielstuff opened #102 "add mime for STEP files"
Extension is `step` or `stp`

https://en.wikipedia.org/wiki/ISO_10303-21

[2017-11-05 23:12] dougwilson commented on #102
Hi @gabrielstuff sounds like a good first contribution to this module: https://github.com/jshttp/mime-db#contributing

[2017-11-05 23:12] dougwilson commented on #101
Hi @gabrielstuff sounds like a good first contribution to this module: https://github.com/jshttp/mime-db#contributing

[2017-11-16 10:01] jahid5532 opened #103 "98"
KALML

[2017-11-17 02:59] dougwilson commented on #103
Not enough information. I can re-open if you clarify.

[2017-11-17 02:59] #103 closed

[2017-11-24 11:42] DeadcatDev opened #104 "Absolutelty no photo-related mimetype/ext"
No .cr2 / .nef / .raw / .dng and others photo related mimetypes/ext

[2017-11-24 14:55] dougwilson commented on #104
https://github.com/jshttp/mime-db/blob/master/README.md#contributing

[2017-11-24 17:46] hueniverse commented on #104
Absolutely the wrong way to engage with open source.

[2017-11-24 18:06] DeadcatDev commented on #104
@hueniverse ok, so than we can close our eyes and say that issue never happend ;)

I just leave it to be known, no time at my point of live for contribute, sorry, maybe about january i will able to add them, but it's good to know. So keep calm ;)

[2017-11-25 15:01] broofa commented on #20
FWIW, I've https://github.com/broofa/mime-score is now a thing.  It's my best attempt at the logic needed to resolve this issue.  It prioritizes by (in decreasing priority) RFC "facet", source, type, and, lastly, string length.  (The string length is of debatable merit, but very rarely comes into play)

Would it make sense to add this as a `score` to each mime-type entry?  I'm happy to put up a PR

[2017-11-29 00:40] mojavelinux opened #106 "add mime type for AsciiDoc files"
Add the mime type `text/asciidoc` for AsciiDoc files. AsciiDoc files commonly end with `.adoc`, though the extensions `.asciidoc`, `.asc`, and sometimes `.ad` are also recognized. If we have to pick only one, it should be `.adoc`.

The mime type text/asciidoc follows the pattern used for Markdown, a very similar language. (see http://www.iana.org/assignments/media-types/text/markdown).

[2017-11-29 01:25] dougwilson commented on #106
Yea, if there is a specification it can be manually added here with a link to the specification that states what the MIME is and file extenstions, etc. Ideally it is registered with the IANA (https://github.com/jshttp/mime-db/blob/master/README.md#adding-custom-media-types) which is our main source, but in the worse case it is not, it probably should be but we have a custom types area to get them

[2017-12-04 20:24] dougwilson commented on #78
I'm going to close this since no one has added it in over 6 months. I'm not even sure from those links what the MIME type is (you just noted the file extension), so I wasn't able to add it myself, either.

[2017-12-04 20:24] #78 closed

[2017-12-22 21:30] alrra opened #110 "Do not mark `SVGZ` files as compressible"
Currently `SVGZ` files  are marked as compressible.

https://github.com/jshttp/mime-db/blob/63731b4b161970d3205dda268102a44ea9436254/db.json#L5866-L5867

----

This should not be the case as `SVGZ` files are basically `SVG` files compressed with `gzip`, so they are already compressed.

From https://www.w3.org/TR/SVG/intro.html#MIMEType:

[2017-12-22 21:46] dougwilson commented on #110
Hm. I'm not sure what the course of action would be here. The "compression" applies to the mime type, not the extensions. This module is just a database of mime types, and only contains data for types. What do you think should be changed? Just remove "compression" flag from "image/svg+xml"?

[2017-12-23 18:51] alrra commented on #110
Yes, I'm also not sure, reason why I've opened this discussion.

Since SVGs are used quite a lot, and they compress very well, I personally don't think this project should ever not recommend SVGs to be compressed.

What do you think about changing `compressible` to an array of extensions?

[code]

[2017-12-23 19:24] dougwilson commented on #110
I really don't want to do that, because this is a database of mime type information, not extension data. For each mime type entry we have keys that tell aspects of the type. I would be really careful changing the format in any way at this point, due to it's use, especially outside of npm (using the db.json file directly). Probably worth creating a new project at the point where the format of the m

[2017-12-23 19:24] #110 closed

[2017-12-23 19:28] dougwilson commented on #110
If you are wondering on the label, it is in reference to the subject (which is seen in lists along side labels):

Because this module does not mark anything about extensions, only mime types. If there is something using this module to infer such a thing, unfortunately that is outside this module's control. There is an open issue about providing extension-based data which would then make it an issu

[2017-12-23 19:36] dougwilson commented on #110
And thinking it over more, I think shouldn't svgz extension not even be under that mime at all? I guess it would depend on if the specification for the image/svg+xml type has some kind of built in deflating? Just thinking if I compressed html and saved as htmz would that still be text/html ?

[2017-12-24 10:13] Martii commented on #110
https://www.w3.org/services/svg-server/

... states .svgz and .svg are valid for `image/svg+xml`. Relatively a new doc.

[2017-12-29 06:49] danny0838 opened #111 "Add documentation for "Charset""
There is a "Charset" key in the database, but it is not described in the "Data Structure" section of the `README.mb`.

[2017-12-29 07:01] danny0838 opened #112 "Add extensions for obsolete mimetypes"
Sometimes we'd want to lookup a file extension from a given mimetype. For example, we want to get "js" if we are given a mimetype "text/javascript". This is currently not possible since the "extensions" key for "text/javascript" is not defined.

I'd suggest that we define the "text/javascript" like this:

    "text/javascript": {
      "source": "iana",
      "compressible": true,
      "obsolete"

[2017-12-29 15:25] dougwilson commented on #111
It's the last bullet point:

[2017-12-29 15:25] #111 closed

[2017-12-29 15:28] dougwilson commented on #112
We're not willing to manually maintain a list like this. The purpose of this database is to aggregate sources though the build scripts. Is there a source somewhere we can scrape this data from?

[2017-12-29 15:45] danny0838 commented on #111
It seems that I kind of missed it. Sorry.

[2017-12-29 15:50] danny0838 commented on #112
The IANA source have most of the information. For example, the "[text/javascript](https://www.iana.org/assignments/media-types/text/javascript)" template page contains a line of "**File extension(s): .js**" and a line of "**Intended usage: OBSOLETE**".

[2017-12-29 15:58] dougwilson commented on #112
Ah, so it sounds like this can be just adding some additional scraping rules into the IANA scraper.

[2017-12-29 16:05] danny0838 commented on #112
I did a little check and it seems that many mimetypes defined by IANA also have file extensions missing, such as [application/cccex](https://www.iana.org/assignments/media-types/application/cccex) (.c3ex) and [text/vnd-curl](https://www.iana.org/assignments/media-types/application/cccex) (.curl).

Another problem could arise is that how do we merge the file extensions if they are defined different

[2017-12-29 16:13] dougwilson commented on #112
I assume just list them all unless there is another suggestion.

[2017-12-29 16:21] danny0838 commented on #112
I am not sure how you currently do it. I would suggest:

1. Add the extensions listed by IANA using the order IANA suggests.
2. Append the extensions listed by Apache and not listed in IANA using the order Apache uses.
3. Append the extensions listed by nginx and not listed in IANA and Apache using the order nginx uses.

(Assume the priority is IANA >Apache >ngnix)

[2017-12-29 16:23] dougwilson commented on #112
I believe that is what the build script does already :+1:

[2017-12-29 16:31] danny0838 opened #113 "Compressible for image/svg+xml?"
This seems to a tricky issue.

Mime type image/svg+xml has svg and svgz listed, and is marked compressible.

svg is plain text is expectedly compressible. However, svgz is already zip compressed format and should be not compressible.

[2017-12-29 16:31] dougwilson commented on #113
Duplicate of #110

[2017-12-29 16:31] #113 closed

[2017-12-29 16:38] danny0838 opened #114 "Compressible definition for more mimetypes"
Follow the same logic in #110. I think we can add to custom-suffix.json that "+xml" as compressible and "+zip" as not compressible.

[2017-12-29 16:40] dougwilson commented on #114
SGTM. For anyone who wants to make a PR on this, please split between two PRs :+1:

[2017-12-29 16:43] danny0838 opened #115 "Add mimetype application/x-maff"
Source: http://maf.mozdev.org/maff-specification.html

[2017-12-29 16:45] dougwilson commented on #115
Instructions on how to get new types added: https://github.com/jshttp/mime-db/blob/master/README.md#adding-custom-media-types :+1:

[2017-12-29 16:47] dougwilson commented on #79
Closing due to no movement for 6 months.

[2017-12-29 16:47] #79 closed

[2017-12-29 16:47] dougwilson commented on #93
Closing due to no movement for 3 months.

[2017-12-29 16:47] #93 closed

[2017-12-29 16:47] danny0838 commented on #115
Is there currently a protocol for what should be added to custom-types.json and what should not (and instead, be added after registered in IANA)?

[2017-12-29 16:49] dougwilson commented on #115
The protocol is if at all possible nothing should be added there. It should be shrinking in size. It was mainly a mechanism to merge the existing data from the node-mime project and arguing about it is a lot of heart ache when this project should just be aggregating it's upstream sources.

[2017-12-29 16:52] dougwilson commented on #115
Since this module doesn't source the compressible flag (a bad decision, in retrospect) it's the only definately permissible data to add to those files since it's currently the only way to add it.

[2017-12-31 22:13] Martii commented on #110
Additional followup notes after rereading the spec of gzip, similar questions around the web related to ~"is svgz compressible?", and some of my experience/understanding:

#### Summarizing

If a file is already compressed gzip will store it thus deactivating the compression and decompression algorithms and is a flat out "copy" *(using 7z's terminology here)* or "stored" as gzip typically refers to

[2018-03-15 19:31] dougwilson commented on #101
Closing due to no movement for 3 months.

[2018-03-15 19:31] #101 closed

[2018-03-15 19:32] dougwilson commented on #102
Closing due to no movement for 3 months.

[2018-03-15 19:32] #102 closed

[2018-03-15 19:33] dougwilson commented on #104
Closing due to no movement for 3 months. You're still welcome to make a PR, but there is no clear indication for the timeline of closing the issue, so just trying to clean up.

[2018-03-15 19:33] #104 closed

[2018-03-15 19:38] dougwilson commented on #106
Closing due to no movement for 3 months. You're still welcome to make a PR, but there is no clear indication for the timeline of closing the issue, so just trying to clean up. I know we had the conversation in #107 back all those months ago, but I haven't seen it pop up in the IANA registry, still. Ideally it is registered with the IANA (https://github.com/jshttp/mime-db/blob/master/README.md#addi

[2018-03-15 19:38] #106 closed

[2018-03-15 21:08] mojavelinux commented on #106
No worries. I know what I need to do. I just haven't gotten to it yet. I'll be back once I do it.

[2018-04-02 11:45] ZuBB opened #118 "mime type for .csv files can be reported incorrectly under specific conditions"
By default mime type for `.csv` files should be `text/csv`. However in case when target OS is MS Windows and MS Office is also installed on that system mime type for that file will be `application/vnd.ms-excel`

I was able to reproduce this issue on Win 8 and Win 10 and latest MS Office. Also I have found few links where sames issue or issues based on this are discussed
* https://github.com/react-

[2018-04-02 11:47] ZuBB commented on #118
I am going to make a quick check of this for Mac+MS Office

Also seems we will have a monkey patch for this on top of mime-db in our own repo..

[2018-04-02 12:06] dougwilson commented on #118
This module is just a static JSON file. If you need logic like differing types based on running OS , then you need something on top of this module to do that :+1:

[2018-04-02 12:06] #118 closed

[2018-04-11 12:46] broofa commented on #81
Looks like it's official: https://www.iana.org/assignments/media-types/audio/aac

[2018-04-28 21:11] rmzelle commented on #114
@danny0838, @dougwilson, I was wondering if this should be applied just to the existing contents of custom-suffix.json, or if new entries should also be added to custom-suffix.json to cover any aggregated data that ends up in db.json from other sources? If the former, the only chance to custom-suffix.json that's currently necessary would be to add `"compressible": true` to the definition of "appli

[2018-04-28 22:02] dougwilson commented on #114
I'm not really following. The only thing in there is just the +json.

Isn't that what the request for this issue is?

I'm not sure what this means. There is only one thing in custom-suffix.json and it's not application/dash+xml

[2018-04-29 00:36] rmzelle commented on #114
Oh, sorry for the confusion. Where I wrote "custom-suffix.json" above I meant "custom-types.json".

[2018-04-29 00:48] rmzelle commented on #114
Ah, I also realize I misunderstood @danny0838's proposal above. Just ignore me for now. Proper PR coming up.

[2018-04-29 04:47] rmzelle commented on #115
So, should this mimetype be added to custom-types.json? I'd be happy to create a PR to add:

[code]

[2018-05-05 19:34] #114 closed

[2018-05-30 16:17] dougwilson commented on #115
Hi @rmzelle the type / extension needs to get added to one of our upstreams: NGINX, Apache, or IANA.

[2018-05-30 16:25] dougwilson opened #126 "Remove compressible for db 2.0"
Since we defined the 1.0 of the mime-db it has worked well, expect for one of the properties: `compressible`. This property cannot be derived from the upstream data and instead rules must live in this repo to populate the value. By itself, this is not too bad, but it adds additional complexity to the module as well as inflates the size of the database for something many may not even use.

I'm thin

[2018-05-30 17:00] rmzelle commented on #115
In that case this issue can be closed, no?

[2018-06-06 10:01] schulm opened #130 "Add application/x-protobuf format for pbf files"
I would like to add a mime/type for [protobuf](https://github.com/google/protobuf), I can't find it on the official site, but the application/x-protobuf type is frequently used.

[2018-06-06 12:01] dougwilson commented on #130
Just follow the directions at  https://github.com/jshttp/mime-db/blob/master/README.md#adding-custom-media-types and the type will get pulled in here automatically :)

[2018-06-06 12:01] #130 closed

[2018-06-07 05:32] alias8 opened #131 "Adding Microsoft Smooth Streaming mime type"
I noticed the .ism extension for a Microsoft Smooth Streaming file is not included. I cannot find it on the sites you aggregate from.
http://www.iana.org/assignments/media-types/media-types.xhtml
http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types
http://hg.nginx.org/nginx/raw-file/default/conf/mime.types

I believe the entry would be (with a correct source):

[code]

[2018-06-07 06:53] Martii commented on #131
https://msdn.microsoft.com/en-us/library/jj573656%28v=vs.90%29.aspx most likely. Good luck in getting M$ to register their MIME types with the sources available.

[2018-06-07 12:52] dougwilson commented on #131
Hi! Yes, this module just aggregates together those three sources so if that is not in any of the three it won't be in the aggregation here. You'll want to get it added in at least one of those places (IANA, Apache, or NGINX) if you're looking to see it appear here :+1:

[2018-06-07 12:52] #131 closed

[2018-06-19 16:31] BigBlueHat opened #133 "Expose `.types` to `.json` conversion scripts via NPM"
These are useful in scenarios where you have a `.types` file set for your collection of servers and want to share a canonical authority across various software (much of which already use the `.types` format).

These scripts could possibly be extracted into their own projects, but for now it'd just be nice to have the consumable via projects like `node-ecstatic` (etc).

Thanks!
🎩

/cc @jfhbrook

[2018-06-19 16:35] dougwilson commented on #133
I'm not sure I understand the request. It sounds like what you're requesting is it's own module: a parser for .types files. This module is simply a module to export a json database.

[2018-06-19 16:35] #133 closed

[2018-06-19 16:56] jfhbrook commented on #133
I can elaborate on this a little. ecstatic uses mime@1 because it supports loading .types files. mime@2 does not. I think @BigBlueHat is pulling on those threads and ended up here. I can't comment on whether mime-db is the right place to add functionality for loading .types files, but maybe you have some ideas doug?

[2018-06-19 17:03] dougwilson commented on #133
Yea, to me it sounds like the request is for someone to make a new npm module (or maybe one already exists somewhere?) that implements a parser for the .types file format.

As for mime-db it's separation is that it's singular purpose is to provide a single json file that is usable across all environments and languages. It was divided such that it would never actually expose any javascript code its

[2018-06-19 17:07] jfhbrook commented on #133
I mean, that's a /solution/ to the request, which is ultimately "someone please come up with a migration path for .types files in mime@1". <_<;  I get if you don't think this is your problem though, and I'm totally ok w/ this being a separate module. I just don't want to write it is all. ;D

[2018-06-19 17:09] dougwilson commented on #133
Gotcha. Yea, I'm not actually involved in the `mime` module, so don't know why the `.load` functionality was removed and what (if any) a replacement would be. That would be like someone removing a feature of Chrome and asking Microsoft what solution Windows is going to provide since Chrome runs on Windows... ?

[2018-06-19 17:10] dougwilson commented on #133
Perhaps this whole confusion is just the issue was opened in the wrong repo? (opened in `mime-db` instead of in `mime`)

[2018-06-19 17:12] jfhbrook commented on #133
Yeah, understood. Thanks for talking through this with me. 👍

[2018-06-19 17:14] dougwilson commented on #133
No problem. I was just reading through the issue was was linked to this one and I see @BigBlueHat said:

Which sounds right, but then if this was the reach out mentioned, I think it was just the wrong project (this is `mime-db`, which is a separate library and maintainers from `mime`).

[2018-06-19 17:20] dougwilson commented on #133
Some further reading I think there is more confusion around. I see @BigBlueHat says:

But I'm not seeing such an API in `mime`. I'm looking at the docs https://github.com/broofa/node-mime#new-mimetypemap--more-maps and the argument is accepts looks like the following format:
[code]

But that's not the format of `mime-db`, which is described https://github.com/jshttp/mime-db#data-structure :
[code]

[2018-06-29 17:15] aabfred opened #135 "Please add image/icns"
Missing  image/icns

[2018-06-29 17:23] dougwilson commented on #135
This module aggregates data from the following sources:

http://www.iana.org/assignments/media-types/media-types.xhtml
http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types
http://hg.nginx.org/nginx/raw-file/default/conf/mime.types

Just get it added to one of the above sources and we'll include it as part of the aggregate.

[2018-06-29 17:23] #135 closed

[2018-07-16 14:32] BigBlueHat commented on #133
Really sorry for the confusion I unintentionally caused here! And for missing all the follow-ups...

I posted the issue here, mainly because these scripts are pretty close to what would be needed (possibly in a new npm module) to handle the `.types` => idiosyncratic JSON format(s): https://github.com/jshttp/mime-db/tree/master/scripts

It was that existing code (more than anything) that made me th

[2018-08-30 06:31] dead-horse opened #140 "extension name `.ico`'s mime type changed"
Looks like this extension conflict with extension for image/x-icon and change the value of mimeTypes.contentType('ico') from image/x-icon to image/vnd.microsoft.icon

https://github.com/jshttp/mime-db/commit/0dc5b639550046e9940c052c13e7926976e6b81a#r30314927

[2018-09-03 02:59] dead-horse commented on #140
- https://github.com/favicon.ico => 'image-xicon'
- https://google.com/favicon.ico => 'image/x-icon'
- https://www.amazon.com/favicon.ico => 'image/x-icon'
- https://www.facebook.com/favicon.ico => 'image/png'
- https://www.microsoft.com/favicon.ico => 'image/x-icon'
- https://www.iana.org/favicon.ico => 'image/vnd.microsoft.icon'

I checked some big websites, most of them are still using `image/x

[2018-09-03 03:03] dougwilson commented on #140
This module didn't change anything in this regard -- we still list image/x-icon can be .ico in the database.

[2018-09-03 03:44] dead-horse commented on #140
yep, but https://github.com/jshttp/mime-types directly use mime-db's data, and `image/vnd.microsoft.icon` has higher priority for now, so `mimeTypes.lookup('.ico')` return `image/vnd.microsoft.icon` now.

[2018-09-03 03:55] dougwilson commented on #140
Ok, but what would be the course of action this module can take? Remove the type data from our database? That doesn't seem right to me, especially since it reflects the registration in the IANA. What is the suggestion you're making for this module to do?

[2018-09-04 06:48] dead-horse commented on #140
It's ok for me to keep this module not change, I'm just curious why my test cases failed.

[2018-09-04 06:48] #140 closed

[2018-12-12 07:17] DutchBoyScowden1 commented on #3
Are you in Instance talking of Binary Text such as Platform based, Given units of measurement Platform based units such as 3a3ec68c <--- in short until creating a name for the game server your name remains this, now this is Short or not a real Binary from anything I'm working on Just tagged partial from a file'
jonathanong wanted to know a good name for his Folder I have a good name if, this is a

[2018-12-13 16:16] jeremyBanks opened #148 "Any chance of getting TS for TypeScript?"
The `ts` file extension currently gets the MIME type `video/mp2t` from the "nginx media types" source. However, these days the extension is also frequently used for TypeScript source code. I was working on a post I was going to serve via GitHub Pages, and was disappointed to find out that when I linked to TypeScript files, expecting users to see the text source, the users were instead being prompt

[2018-12-13 16:40] dougwilson commented on #148
So this module is just an aggregation of the sources listed in the README. The ts extension was of course used well before typescript existed, which is likely why it is coming through as something else, which is certainly a valid entry, as dvds and blu rays still are widely used and have files with .ts extensions.

So this database is a mapping of mime types and what extensions are known to be wit

[2018-12-13 16:40] #148 closed

[2019-01-06 05:30] ceefour opened #150 ".xsl should map to `text/xsl`"
[According to at least WebKit browsers](https://stackoverflow.com/a/8245664/122441): There are only 2 valid types for stylesheets:

* `text/css`
* `text/xsl`

Currently mime-db maps `.xsl` to `application/xml` which gives a warning: "Resource interpreted as document but transferred with MIME type application/xml." (happens on Safari, Chrome; should happen with other browsers like Opera, and upcomi

[2019-01-06 13:45] dougwilson commented on #150
Hi! Thanks for bringing this up. This module simply aggregates the data from the three sources listed at the top of the readme.

The xsl mapping you are seeing is coming from the Apache HTTPD project: http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types

You will need to raise the issue there and once it is changed, this module will automatically pull in the change.

[2019-01-06 13:45] #150 closed

[2019-01-09 20:02] laukstein opened #151 "Use text/javascript, not application/javascript, for .js"
Issue mentioned in https://github.com/github/pages-gem/issues/612

See https://github.com/webhintio/hint/issues/568#issuecomment-339945844,
https://html.spec.whatwg.org/multipage/scripting.html#scriptingLanguages says:

https://html.spec.whatwg.org/multipage/infrastructure.html#dependencies says:

![35584113-dd11f0f6-05a8-11e8-9939-4ad4c85dab3f](https://user-images.githubusercontent.com/183966/509

[2019-01-24 08:20] ceefour commented on #150
Filed in https://bz.apache.org/bugzilla/show_bug.cgi?id=63109

I hope it gets approved.

[2019-01-28 13:11] saeidjoker opened #154 "zip archive not supported"
please support application/x-zip-compressed.

[2019-01-28 13:14] dougwilson commented on #154
Hi @saeidjoker , this module is an aggregate of the three sources listed at the top of the README (https://github.com/jshttp/mime-db#mime-db):

- Apache HTTPD
- NGINX
- IANA

Getting that type added to one of those three will result in us aggregating it into this project's database.

The IANA has the clearest path to get types added The community registration procedure is outlined in
[RFC 6838 sec

[2019-01-28 13:14] #154 closed

[2019-02-08 06:43] voxsoftware opened #156 "Add text/x-ssa"
Add text/x-ssa to database
https://reposcope.com/mimetype/text/x-ssa

[2019-02-08 13:17] dougwilson commented on #156
Hello! If you can find a link to the primary source for that type (you link above is from another aggregation like this module), you can pull request it here following these instructions: https://github.com/jshttp/mime-db/blob/master/README.md#contributing

Otherwise, you'll want to instead get it registered with the IANA, which is a source we pull from. Instructions here: https://github.com/jshtt

[2019-02-08 13:17] #156 closed

[2019-02-14 15:51] skipjack opened #157 "Readable Names"
Would you be open to PRs adding the generally accepted "readable name" for each mime-type declaration? By that I mean something similar to the `Kind of Document` column [here][1], for example:

__db.json__

[code]

This package (and the associated `mime-types` package) are best thing I've found as far as mapping mime types or extensions to one another and I think it would be great if we could add

[2019-02-14 15:54] dougwilson commented on #157
Only if there is an automated method to get these names from somewhere else; I'm not interested in maintaining them by hand or arguing with folks on what their names should be.

[2019-02-14 15:55] skipjack commented on #157
Fair enough, I'll look into that.

[2019-02-14 16:10] skipjack commented on #157
This site is pretty comprehensive, what if we scraped it from here:

https://fileinfo.com/filetypes/common

[2019-02-14 16:12] dougwilson commented on #157
Probably not without making some kind of arrangement with the site owners first. From their terms of use (https://fileinfo.com/terms):

[2019-02-14 16:13] skipjack commented on #157
😢 good catch. Ok I'll look into it more.

[2019-02-14 19:11] skipjack commented on #157
Found a few more, nothing as good as the first one yet though:

- https://www.webopedia.com/quick_ref/fileextensionsfull.asp
- https://www.online-convert.com/file-type
- https://www.lifewire.com/file-extensions-and-mime-types-3469109

And we'd have to make sure scraping is ok with those sites as well too. I also sent a message to the maintainers of the first site to see if they'd be open to sharin

[2019-03-11 12:32] niccolascosta opened #158 "Erro npm install v1.38.0 via npm"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for mime-db@1.38.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/agriness/.npm/_logs/2019-03-11T12_31_38_075Z-debug.log

[2019-03-11 23:28] dougwilson commented on #158
Are you using a mirror? What is the contents of that log file? The version is there on the npm, inc. registry, at least.

[2019-03-14 14:56] skipjack commented on #157
I think I found the most promising candidate yet:

https://github.com/lukaszsliwa/friendly_mime

The license seems like it would allow for our purposes.

[2019-04-04 21:40] dougwilson commented on #158
I'm going to close this since I never got a response.

[2019-04-04 21:40] #158 closed

[2019-05-19 01:32] danny0838 commented on #112
This issue is here for a year. Any plan on it?

[2019-05-19 01:34] dougwilson commented on #112
Just make a pull request updating the build script to pull the data on if types are obsolete from the IANA database, right?

[2019-05-19 01:36] danny0838 commented on #112
I think so. Are you going to implement it?

[2019-05-19 01:37] dougwilson commented on #112
Perhaps one day if I have the time and desire to. If you want to see it earlier, feel free to implement 👍

[2019-05-19 01:47] danny0838 commented on #115
This issue is here for a year. Is there any plan that it should be implemented or not?

[2019-05-19 01:49] dougwilson commented on #115
https://github.com/jshttp/mime-db/issues/115#issuecomment-393223425

[2019-05-19 01:49] #115 closed

[2019-06-05 19:05] zadam opened #162 "Some popular programming language extensions are not recognized"
(originally posted here: https://github.com/jshttp/mime-types/issues/62 )

Hello, I did some testing and it seems like a bunch of popular programming languages are not recognized based on extension. I used `mimeTypes.lookup(ext)` for testing which in cases below returned `false`. I added MIME type I understand should be correct for these extensions:

[code]

[2019-06-05 19:05] dougwilson commented on #162
https://github.com/jshttp/mime-db#adding-custom-media-types

[2019-06-05 19:05] #162 closed

[2019-06-05 19:07] zadam commented on #162
Ok, I give up :-/

[2019-06-25 06:05] ryanlin1986 commented on #81
@dougwilson Any update on this? safari can not play with audio/x-aac

[2019-09-02 21:00] the-simian opened #171 "Add the dds (DirectDrawSurface) extension to the list of known MIME types"
Currently used in Babylon.js applications for cubemaps on the web

[2019-09-02 21:00] the-simian commented on #171
This is resolved by #170

[2019-09-20 12:59] #171 closed

[2019-10-29 12:36] dmvieira opened #176 "IPython notebooks extension support"
We have no sources with this standard for ipynb extension: https://jupyter.readthedocs.io/en/latest/reference/mimetype.html

[2019-10-30 00:40] dougwilson commented on #176
I don't see anything about a `.ipynb` file extension on that page?

[2019-10-30 11:39] dmvieira commented on #176
I see that it's alread in [shared mime info](https://freedesktop.org/wiki/Software/shared-mime-info/) in this [line](https://gitlab.freedesktop.org/xdg/shared-mime-info/blob/master/freedesktop.org.xml.in#L2520). What do you think about include this source in mime-db?

[2019-10-30 12:10] dougwilson commented on #176
This module only pulls from the three sources listed at the top of the readme. To pull it in, the best method is relly to get it into the IANA database.

[2019-10-30 12:20] dougwilson commented on #176
As a stop gap measure, types can be added directly to this module, but you would need to find a primary source so I can vet it. Sites that are just aggregate mime types are a secondary source. So if you can find out where that site sourced the data from for this mapping that should work.

[2019-10-30 13:20] flying-sheep commented on #176
Well, that’s a mirror of freedesktop’s “[shared mime info](https://freedesktop.org/wiki/Software/shared-mime-info/)” list. freedesktop is an initiative for interoperability in *NIXoids, to which end they define standards. They aren’t an official standards body, but followed by all bigger desktop environments on Linux like GNOME and KDE Plasma.

I consider a DB compiled by them second to IANA, and

[2019-10-30 13:28] dougwilson commented on #176
If we were to add that as a source, where is the shared mime info list hosted for us to pull from it directly? Do they have any policy against automated pulling of their data?

[2019-10-30 14:26] flying-sheep commented on #176
On the linked page are “[Sources](https://gitlab.freedesktop.org/xdg/shared-mime-info/)” and “[Releases](https://gitlab.freedesktop.org/xdg/shared-mime-info/-/releases)”, both linking to their GitLab instance. Linux distros [like e.g. Arch pull](https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/shared-mime-info) from there.

[2019-11-06 19:24] GustavoMilitao opened #177 "Add extension .jfif to image/jpeg"
The "jfif" is an image extension. See the link below.

https://www.w3.org/Graphics/JPEG

[2019-11-06 19:30] dougwilson commented on #177
Without a link from a primary source that clearly states the file extension .jfif exists and belongs to image/jpeg mime, you would need to follow the process as described in https://github.com/jshttp/mime-db/blob/master/README.md#adding-custom-media-types

The link provided has no mention of a file extension of any kind, so there is no way to know from that link that ".jfif" is even a valid file e

[2019-11-06 19:30] #177 closed

[2019-12-14 16:09] broofa opened #179 "Require 2FA for JSHttp members?"
[This isn't a mime-db issue, but I'm not sure how else to communicate with the JSHttp admin crew.  Please direct me to a more appropriate forum if one exists.  (E.g. perhaps there could be a "meta" repository managing JSHttp-related docs and business that aren't specific to a single repo?  Not sure if there's a need for that.]

Briefly, I'll suggest that [2FA authentication should be required](htt

[2019-12-14 16:28] dougwilson commented on #179
https://github.com/jshttp/jshttp.github.io/issues

[2019-12-14 16:28] #179 closed

[2019-12-14 16:32] dougwilson commented on #179
The jshttp org itself also falls under the Express TC, so https://github.com/expressjs/discussions is another avenue.

[2019-12-14 16:38] dougwilson commented on #179
This part isn't 100% clear to me, as I assume we are talking about npm modules here and publishing to npm and pushing yo github are different systems, so enabling 2FA in github won't do anything to ensure integrity of the npm package. It would, I understand, ensure it if folks are pulling direct from npm and not from github.

I enabled 2FA as a github requirement now, though, fwiw.

[2020-01-06 11:32] YeatsLu opened #182 "@1.43.0 was not published successfully"
@1.43.0 is not found at npm repo, maby npm publishing is failed

there is issue of "npm isntall" at a project by create-react-app

**npm dependences chains:**
react-scripts -> webpack-dev-server -> compressible -> mine-db

[2020-01-06 12:53] viditpandey commented on #182
Hi,
We are also facing this issue in our project. The build is failing with error log: **"No matching version found for mime-db@>= 1.43.0 < 2"**

[2020-01-06 12:53] Gauri-P commented on #182
We are also facing exact same issue. Please provide the fix as our builds are failing.

[2020-01-06 13:00] dougwilson commented on #182
Neither I, nor Travis CI, is having an issue installing from npm registry. Please check if you are using a mirror, otherwise contact npm support.

[2020-01-06 13:00] #182 closed

[2020-01-06 13:05] ffinki commented on #182
Also here... the same issue

[2020-01-06 14:15] YeatsLu commented on #182
@dougwilson [get it](https://www.npmjs.com/package/mime-db)

[2020-04-11 00:39] joshxyzhimself opened #189 ".js.map as application/octet-stream?"
It is currently it's getting detected as .js

[2020-04-11 00:48] dougwilson commented on #189
I'm unsure what you mean. This module is a database of mime types with an extensions field. It provides only mime type to data mappings, not file extension to type.

[2020-04-11 00:48] #189 closed

[2020-04-23 08:27] sfrylmark opened #190 "Invalid mime type for .map"
[This commit](https://github.com/jshttp/mime-db/commit/129996a4e437e33bcad8e488c48fb191671fe158#diff-a23d66d6c3d5a521d8fb16ef6b45488eR9) bound `.map` to `application/json`.

There's no standard for this. [Wikipedia](https://en.wikipedia.org/wiki/MAP_(file_format)) names a number of different uses for the `.map` file extension, for example [HTML Image Maps](https://en.wikipedia.org/wiki/Image_map),

[2020-04-23 08:31] dougwilson commented on #190
It looks like the commit that brought thins binding into thia module is https://github.com/jshttp/mime-db/commit/129996a4e437e33bcad8e488c48fb191671fe158

[2020-04-23 08:37] efrlsml commented on #190
Thanks for correcting!

[2020-04-23 08:42] dougwilson commented on #190
So it looks like this came from the javascript source map type. A javascript source map is a file that ends in .map and is json.

[2020-04-23 08:55] efrlsml commented on #190
I figured. But isn't that always `.js.map` instead of just `.map`? For such a generic name as "map" it is probably bad to start generalizing extensions that aren't standard anywhere.

[2020-05-01 16:30] broofa opened #193 "".opus" extension for audio/opus"
`audio/opus` type should map to `.opus` extension.

https://en.wikipedia.org/wiki/Opus_(audio_format)

[2020-05-01 21:41] broofa opened #194 "JavaScript type should be `text/javascript`"
Apparently `text/javascript` is the new hotness now...?  https://datatracker.ietf.org/doc/draft-ietf-dispatch-javascript-mjs/

I first noticed this on MDN's [Common MIME Types](https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) page, which now shows `text/javascript`.

@mathiasbynens, @domenic: Can you provide insight into what's going on at the standard

[2020-05-02 06:25] mathiasbynens commented on #194
Thanks for the ping!

This is not really "new"; the HTML Standard has included [a willful violation of RFC 4329](https://html.spec.whatwg.org/multipage/#dependencies:willful-violation) for a long time:

[And](https://html.spec.whatwg.org/multipage/scripting.html#scriptingLanguages):

RFC 4329 does not match reality. The HTML Standard does (in this particular case), and https://datatracker.ietf.org

[2020-05-04 14:38] broofa commented on #190
Interesting issue.  I'm inclined to agree with @efrlsml that mapping such a generic extension to a JS-specific type without any formal standard may be problematic in the future.

Scoping this to ".js.map" extensions is probably the right solution, however that will be problematic for modules such as `mime` and `mime-types`  (and probably other downstream consumers) that don't expect compound exten

[2020-05-04 22:11] dougwilson commented on #190
Yea, we pulled in a lot of strange mappings like this one from the node-mime lib. I have been working to remove all these custom mappings from this db, as it creates an easy way for this module to be in arguments about what is right or wrong mappings.

The future is the continued removal of all custom types and push towards this being an aggregation of sources, where disputes can take place at tho

[2020-05-04 22:13] dougwilson commented on #194
Ultimately this module is not a MIME registry service and not in the business of handling such disputes. It is an aggregation of the sources in the readme, which is where these types of changes need to be made and this module will passively update the records to reflect changes in the source registries.

[2020-05-04 22:20] dougwilson commented on #193
If this mapping is not in one of our sources, it can be added here directly, but needs a source that lists both the file extension and mime type that is not another aggregation service or Wikipedia. The source for the file extension in that Wikipedia article is missing, so not sure where it came from in order to use that.

[2020-05-05 03:21] broofa commented on #193
From https://tools.ietf.org/html/rfc7845#section-9:

[2020-05-05 03:23] dougwilson commented on #193
Yea, but isn't that for the mime `audio/ogg` ?

[2020-05-05 08:06] broofa commented on #193
Ah, right.  This popped on my radar while updating node-mime unit tests to the latest list of types on MDN.  Not something I have the time/energy/interest to pursue however.  Sorry for the bother.

[2020-05-05 08:06] #193 closed

[2020-05-27 22:35] Swap76 opened #195 "People creating aliases of mime-db for Deno by fetching the db.json directly"
I know as per the opensource license this is allowed but have look https://github.com/alirealasad/mine_db/blob/master/mod.ts

<img width="1008" alt="Screenshot 2020-05-28 at 4 02 26 AM" src="https://user-images.githubusercontent.com/37082605/83078817-0f46e900-a098-11ea-883c-62b28e6b38ce.png">

The PR for this repo to be included in the third-party module is created on the Deno website

This is rip

[2020-05-27 22:50] dougwilson commented on #195
Thanks, but I'm not sure there is anything wrong there. We allow downloading the db directly (see https://github.com/jshttp/mime-db/blob/master/README.md#database-download). At best, pulling from github may be against the github tos depending on where/for what purpose they are doing it for.

[2020-05-27 22:50] #195 closed

[2020-05-28 19:16] jonchurch commented on #195
FWIW they are crediting this project in their readme.

[2020-05-28 19:30] Swap76 commented on #195
@jonchurch Sorry guys my bad ...

[2020-06-05 13:59] mastermatt commented on #190
@dougwilson I'm attempting to label this issue given it's current state. Are we looking for PRs to remove `.map`?

[2020-06-06 07:31] jaider opened #197 "Support for obj and mtl"
I am surprise these MIME Types used for 3D objects are not supported by default.

[2020-06-06 07:33] dougwilson commented on #197
Very strange. This module pulls data from the three sources at the top of the READMEhttps://github.com/jshttp/mime-db/blob/master/README.md#mime-db so I guess those are not in there or something else is wrong. What are the mime types for those extensions?

[2020-06-08 08:51] cybersupernova commented on #194
@dougwilson I completely agree with you, but the least we can do is add `"extensions": ["js"]` in `text/javascript` key until the dispute is resolved.
It really breaks all my validations since there is no way to get the extension of `text/javascript` files which keeps getting uploaded from clients.
For now, I am doing regex matching to bypass this.

[2020-06-08 11:59] dougwilson commented on #194
@cybersupernova this module is not here to resolve "disputes" -- it is here to provide a aggragate json database of the types as defined from the three sources at the top of the readme.

[2020-06-19 03:29] cybersupernova commented on #194
@dougwilson I am not asking to resolve any dispute, but giving no extension for so common MIME `text/javascript` makes no sense.
I am using the database but still, I have to return extension for this MIME with extra `if` condition. I cannot overlook this in my app since it's a commonly used file type.

Anyways, thanks for your time.

[2020-06-19 03:33] dougwilson commented on #194
Hi @cybersupernova I definately understand, but this module is here to provide a aggragate json database of the types as defined from the three sources at the top of the readme. This really means you are saying that the issue is that none of those three sources are providing an extension for that MIME type, is that correct? If we have an issue where it actually is in one of those sources and we ar

[2020-06-26 02:16] helio-frota commented on #197
hi @jaider

I think the issue can be closed, these mime types are already supported.

https://github.com/jshttp/mime-db/search?q=model/mtl
https://github.com/jshttp/mime-db/search?q=model/obj

[code]

https://www.iana.org/assignments/media-types/model/mtl
https://www.iana.org/assignments/media-types/model/obj

[2020-06-26 02:16] #197 closed

[2020-08-04 20:42] belsholff opened #206 "Script isn't extract .rar extension from IANA primary source"
Checking an application error that use this module, I reach a problem with `application/vnd.rar` mime-type (WinRAR file mime-type), that has not an associated extension in `db.json`.

Checking the [primary source URL](https://www.iana.org/assignments/media-types/application/vnd.rar) indicated in `src/iana-types.json`, there is an extension declared (`.rar`). Maybe it could be a bug.

I cloned this

[2020-08-04 21:35] #206 closed

[2020-08-04 21:36] dougwilson commented on #206
Hi @belsholff thanks for the notice! I just landed a commit adding this associate for you. I'll have it released as a new version soon.

[2020-08-11 21:06] Bdthomson opened #207 "application/mp4 incorrectly maps to file extension mp4s."
Source IANA - https://www.iana.org/assignments/media-types/application/mp4 - "mp4 and mpg4"

https://github.com/jshttp/mime-db/blob/master/db.json#L908 - "mp4s"

[2020-08-11 21:18] dougwilson commented on #207
Thank you for the report. It looks like the current mapping is coming from Apache.

Can you clarify what the outcome you are looking for is? (a) add those two extensions to the list (b) remove the apache one from the list or (c) both?

[2020-08-11 21:39] Bdthomson commented on #207
Ah, that's a bit odd, I would have expected the source to say "apache" as some other mime types in that list do.

I've never heard of `mp4s` and can't find any record of this file extension even existing, it doesn't show up when you search any of these sites

https://www.fileinfo.com
https://www.filext.com
https://www.file-extensions.org

As far as outcome, I would expect (c) to see both of those

[2020-08-12 03:38] ZOUJIELynn opened #208 ""application/vnd.xmind.workbook" not exists"
"application/vnd.xmind.workbook" not exists in mime json

[2020-08-12 03:46] dougwilson commented on #208
Hi @ZOUJIELynn this is because it does not exist in any of the three upstream databases we pull from. If you would like to see it added, you're welcome to follow our section regarding getting a mime type added: https://github.com/jshttp/mime-db#adding-custom-media-types

[2020-08-12 03:46] #208 closed

[2020-08-12 03:49] dougwilson commented on #207
Thanks! So the source is defined in the README as "where the mime type is defined.", and in this case, indeed the MIME type is defined in IANA. We do not include where the extensions are sourced from in the database.

So there is good news and bad news on that:

Good news -- I will look into what is keeping the extensions that are in IANA from showing up in our database
Bad news -- We cannot remov

[2020-08-12 19:14] Martii commented on #207
@dougwilson

Re: [Apache MIME types](https://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types)

Snippet of that page:
[code]

Interesting text comment in the spec snippet.

No reference to `mp4s`, or `m4p` either in this package at this Apache file,  in Ubuntu File associations.

Ref: https://tools.ietf.org/html/rfc4337

[2020-08-12 19:25] dougwilson commented on #207
That's correct on Apache; of course registered types are in IANA. If we only cared about those we would never need to consume Apache :) We consume the Apache file in order to get the "unregistered" ones they provide, which is a lot of very useful ones not in the IANA database.

[2020-08-12 19:41] Martii commented on #207
Here we go for `mp4s`:

Ref: https://tools.ietf.org/html/rfc6381

   MPEG-4 audio), or 'mp4v' (indicating some kind of MPEG-4 part-2
   video), or 'mp4s' (indicating some kind of MPEG-4 Systems streams
   such as MPEG-4 BInary Format for Scenes (BIFS)), the second element
   is the hexadecimal representation of the MP4 Registration Authority
   ObjectTypeIndication (OTI), as specified in [MP4RA] a

[2020-08-12 19:45] dougwilson commented on #207
So taking a look at our database, we do actually have a MIME type with `mpg4` and `mp4` already: `video/mp4` (https://www.iana.org/assignments/media-types/video/mp4) which is coming from Apache.

So you want _both_ `video/mp4` and `application/mp4` to list out those extensions, is that correct?

[2020-08-12 19:50] dougwilson commented on #207
P.S. if it helps at all, I just noticed the IANA registry points to an RFC that was obsoleted by other RFC. And that RFC notes that all these MPEG-related types and registered in their own alliance registry: http://mp4ra.org/

[2020-08-12 19:52] Martii commented on #207
Depends on the hierarchy for this projects precedence or if it's peer leveled. MPEG anything catches my eye since I've worked on it in the past. Apple hasn't always registered their MIME types but it is in the Library of Congress link... so it's "kind of" there, in history.

Because of rfc4337 conditionals it makes it a little more difficult.

[2020-08-12 19:55] dougwilson commented on #207
Well, as far as this project is concerned, we are not in the business to dig through documents and try and figure out what is "right" and what is not -- that is an entire project in of itself. The _goal_ of this project is to simply aggregate the three sources listed at the top of the README into a nice little JSON file format in order for folks to consume.... So whatever those sources say is asso

[2020-08-12 20:07] Martii commented on #207
Well it's the chicken in the egg syndrome in my book. One needs to get at the MIME type to determine if its a binary audio *(conditional a in rfc4337)* but this can be a "list" of MIME types usually included to determine the MIME type of a binary file in server side projects and flip it for client side.

Personally I'd probably leave it as is. This is probably one of those "(common) unregistered t

[2020-08-12 20:16] dougwilson commented on #207
It is just all merged together. For example, the MIME types is an object, so it's not possible to have duplicates. The extensions are just all joined together in the extensions array, for example. The goal is that if it exists in at least one of the sources, it exists in this database.

[2020-08-12 20:18] Martii commented on #207
Is it too big of a leap to show multiple sources on merge to help alleviate confusion? CSV separated *(or pipes)* or even a new field to show the precedence or would that be too breaking?

[2020-08-12 20:19] dougwilson commented on #207
We cannot make that type of change without a major version change and even changing the name of the db file, as this project _really_ took off more than we ever expected, and there are so many folks just pulling the file direct from master all over the Internet... That field is in use by various folks as well.

[2020-08-12 20:23] Martii commented on #207
Okay... well I guess this is one of those paradoxes where one has to check existing issues to see if it's been explained from what source. Apache has one of the `application` types but the other is the Library of Congress, in history,... sooo... on the merge of IANA and Apache... it picks IANA, probably as the "governing" factor on pulls from those sites. \*shrugs\*

[2020-08-12 20:25] dougwilson commented on #207
So this module does provide them split out in the `src/` directory if you wanted to see the individual split out contents to see what is coming from where. I'm not sure if that answers what you're looking for or not on that front.

[2020-08-12 20:30] Martii commented on #207
Re: @Bdthomson

...

Just providing a possible explanation for the author of this issue. I'm sure you've said the same thing over and over through the years with this project but my focus is not always on GH searching. ;) Sometimes it helps to have another voice asking the questions to get it in different wording. :) Plus I get a little better understanding of this project and its use cases.

Good

[2020-08-13 09:44] UX3D-nopper opened #209 "Please add KTX2 as known extension"
see https://www.iana.org/assignments/media-types/media-types.xhtml#image

As far as I understood, this will happen sooner or later. Correct?

[2020-08-16 17:06] alirealasad opened #210 "Please add me as a member"
thank you

[2020-08-16 17:20] dougwilson commented on #210
Can you expand on the purpose? I'm not familiar with you.

[2020-08-16 17:24] alirealasad commented on #210
I created Deno's version of [mime-db](https://github.com/alirealasad/mime_db) so I thought it belongs here and I also wanted to learn a thing or two.

[2020-08-16 17:38] dougwilson commented on #210
Thank you. For former, I'm not sure what it means to belong here; if this module was not compatible with that system, it would make sense to be a separate repo, unless you want to articulate otherwise.

As for learning, adding you as a member is nothing more than you get fork just clicking to subscribe to the repo.

This repo is part of Express.js project and adding a member gives access to variou

[2020-08-16 17:45] alirealasad commented on #210
I mean I actually wanted to create a separate repo for the project that's why I want to become a member but anyways sorry to waste your time.

[2020-08-16 17:45] #210 closed

[2020-08-24 07:00] vincaslt opened #211 "Add TSX"
Typescript with jsx files usually have extension `.tsx` which is missing here.

[2020-08-24 11:39] ZOUJIELynn opened #212 "lack of MIME type for .py(python)"
.py is application/x-python-code or text/x-python or text-plain

[2020-08-24 12:18] dougwilson commented on #212
Thanks! You can find instructions for how to add mime types at https://github.com/jshttp/mime-db#adding-custom-media-types

[2020-08-24 12:18] #212 closed

[2020-08-24 14:52] dougwilson commented on #211
Thanks for the information 👍 . There are two paths forward here if you want to see this in the database:

1. Get the association added in one of the databases we source from: https://github.com/jshttp/mime-db#adding-custom-media-types
2. Make a PR according to https://github.com/jshttp/mime-db#contributing providing a primary source that shows the MIME type to extension association you are seeking

[2020-08-24 14:52] #211 closed

[2020-09-12 01:34] #209 closed

[2020-09-16 06:42] john050481 opened #214 "New release"
please tell me, when will be the new package released (mime-types, mime-db)?

@dougwilson
https://github.com/jshttp/mime-db/pull/213

[2020-09-23 03:33] dougwilson commented on #214
Release in progress

[2020-09-23 03:33] #214 closed

[2020-09-28 14:20] jacobp100 opened #215 "Types based off filename"
Some specifications (official or otherwise) have special file names rather than extensions. For example `apple-app-site-association` is a JSON file, `.env` is a config file, `Fastfile` is a Ruby file.

The first one is a bit of a pain, because it makes it impossible to use GitHub Pages for an iOS app that wants to support universal links.

Would you consider supporting these special cases?

[2020-09-28 14:28] dougwilson commented on #215
Hello! Can you talk about what would be the changes in this module needed for support these? All this module is is a list of mime types and what some properties are about that mime type, like the list of file extensions.

If you're looking to add `.env` extension or similar, you can find the instructions for how to contribute this at https://github.com/jshttp/mime-db#contributing

[2020-09-28 14:28] #215 closed

[2020-10-04 16:22] kevinGodell opened #216 "m4s is not mapped to video/iso.segment"
It seems that the `.m4s` extension is not mapped to `video/iso.segment`. The extension is mentioned in the [iana docs for video/iso.segment](http://www.iana.org/assignments/media-types/video/iso.segment) and also at [apple for HLS authoring](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices#3314597).

[2020-11-03 03:52] PierBover commented on #104
https://github.com/jshttp/mime-db/pull/219

[2020-11-06 12:02] k3nsei opened #220 "Missing mime type `text/x-java-properties`"
There is missing `text/x-java-properties` for `*.properties` files.

[2020-11-24 16:23] maxime1992 opened #222 "Support for STEP and STP files"
https://en.wikipedia.org/wiki/ISO_10303-21

I believe the content type should simply be `text/plain`

[2020-11-24 16:26] dougwilson commented on #222
Hi @maxime1992 thanks for your issue. This module pulls from the three data sources listed at the top of the README; normally the method to get new MIME types added and/or extensions associated with a MIME type is for those sources to add it.

But otherwise, we provide two alternative methods:

1. https://github.com/jshttp/mime-db#adding-custom-media-types
2. https://github.com/jshttp/mime-db#cont

[2020-11-24 16:26] #222 closed

[2020-12-02 05:12] aitchkhan commented on #86
Can we change the order and keep it like the following? Because the default for `video/quicktime` is `mov`.
Even when I try to rename a file with `mov` to `qt` for saving a file from the internet. Mozilla Firefox asks me, do you really want to use `qt`? The standard is `mov`.

PS: I am not sure about the impact of this.

https://github.com/jshttp/mime-db/blob/be37b05719ad488f4dcd5fd2c901f59608aeff

[2020-12-04 22:40] felipeochoa opened #224 "Newline-delimited JSON"
There seems to be growing consensus[1][2] around using `application/x-ndjson` for [newline-delimited JSON](https://github.com/ndjson/ndjson-spec), which is used for streaming JSON objects. There isn't an RFC yet for ndjson[3], which I think precludes registering with IANA. Would it be possible to nonetheless add to this library as a 'custom' MIME type?

1: [Elasticsearch](https://www.elastic.co/gu

[2020-12-04 22:42] dougwilson commented on #224
Hi @felipeochoa ! An RFC is not required to submit the IANA form, as far as I know. Can you link to where you are seeing that an RFC of the format is required to add something to the IANA registry?

[2020-12-04 22:45] dougwilson commented on #224
AFAIK it is just submitting the following form: https://www.iana.org/form/media-types

There are a lot of things in the IANA database (even recent ones I've seen come through) that have no RFC for their spec, especially private types like things companies define.

[2021-02-10 06:03] zhangfand opened #228 "Add extensions for audio/amr type"
According to https://tools.ietf.org/html/rfc4867, the mime type can have the following file extensions: `amr`, `AMR`.

[code]

[2021-02-13 02:43] dougwilson commented on #220
Following up on this issue, it looks like the related PR has been closed.

[2021-02-13 02:43] #220 closed

[2021-02-13 02:46] #228 closed

[2021-02-13 02:47] dougwilson commented on #216
Thanks for the report @kevinGodell . It is now pulling the extension from IANA.

[2021-02-13 02:47] #216 closed

[2021-03-21 08:13] donp5198 opened #234 "New"
New

[2021-03-21 08:14] donp5198 commented on #234
New

[2021-03-21 08:14] donp5198 commented on #234
Fixed

[2021-03-21 13:17] #234 closed

[2021-03-22 19:15] khalyomede opened #235 "Add jsm extension for application/javascript"
## Descrption

I want my ".jsm" files to have the content-type "application/javascript". For the moment, I need to patch my Express server manually to add this mapping.

## Expected behavior

The extension ".jsm" is associated to the "application/javascript" MIME type.

[2021-03-22 19:18] dougwilson commented on #235
Hi @khalyomede thanks for this issue. Please note that this project is an aggregation of the three sources listed at the top. If this association is missing from those sources, it wouldn't be included here. If you think it should and don't want to pursue getting it added to one of our sources, you can follow the guidelines listed at https://github.com/jshttp/mime-db#contributing

[2021-03-22 19:18] #235 closed

[2021-03-31 21:25] younggun23 commented on #235
https://github.com/younggun23/mime-db

[2021-03-31 21:25] younggun23 commented on #235
https://github.com/younggun23/mime-db

[2021-04-27 20:38] mattbishop commented on #224
Just adding a +1 to this request.

[2021-08-26 08:07] ollm opened #242 "Missing mime type image/avif-sequence"
There is missing `image/avif-sequence` for `*.avifs` files.

http://fileformats.archiveteam.org/wiki/AVIF

[2021-08-26 15:08] #242 closed, assigned to nobody

[2021-09-07 23:57] yrm006 opened #245 "'.zip' file has a 'application/x-zip-compressed' in Windows."
In the Windows, '.zip' file has a contentType 'application/x-zip-compressed'.

Please consider adding 'application/x-zip-compressed' to db.

Thank you,

[2021-09-08 00:45] dougwilson commented on #245
Hello, and thank you for the suggestion. This module is an aggregation of the three sources listed at the top of the README (Apache, NGINX, and IANA). The IANA has a standard process to add new mime types and this project will pull it in automatically. You can find the process at https://github.com/jshttp/mime-db#adding-custom-media-types

[2021-09-08 00:45] #245 closed

[2021-09-08 02:08] yrm006 commented on #245
Thank you, I will do that.

[2021-09-08 15:41] dougwilson commented on #86
The ordering come from the Apache project. You can ask them to change the ordering, ideally. Otherwise this project can override the ordering, but in order to do so, the normal requirements would need to ve met to add things here directly, namely some kind of primary source that states what you are saying. The web browser screenshot is not a primary source, unfortunately. The web browser would hav

[2021-09-08 16:04] dougwilson commented on #86
I just looked at the logic for this module and adding extensions to the custom extensions doesn't overrule data coming from one of our sources, so overriding this data is not very straight forward. Ideally IANA would have at least `.mov` listed, but it has neither. This module aggregates in the order at the top of the README, so IANA -> Apache -> NGINX. Custom stuff is tacked on at the end. If Apa

[2021-09-13 01:34] buzzy opened #246 "Dead link"
The documentation has a dead link to:
http://tools.ietf.org/html/rfc6838#section-5

Registering custom MIME

[2021-09-13 01:46] dougwilson commented on #246
Thanks for the report. It seems like it may have been a temporary issue with the IETF tools site, as the link was not working when I clicked on your report but it is working again now.

[2021-09-13 01:46] #246 closed

[2021-09-19 13:39] jayesh-solutelabs commented on #177
@GustavoMilitao Is there any follow ups on this issue ?

[2021-10-04 01:28] jdesrosiers opened #247 "What are the allowed characters for an extension?"
I'd like to add a custom type for JSON Schema (`application/schema+json`). We use the extension `schema.json` (Example: `address.schema.json`. Is it allowed to register an extension that includes a `.`? I didn't find any examples in the database that do, but I didn't find anything that says it's not allowed either, so I thought I'd ask.

[2021-10-04 01:30] dougwilson commented on #247
Whatever the specification says the extension is for that mime type, we will add. There is no specific rule unless the IANA has some kind of restrictions. I hope that helps.

[2021-10-04 01:30] #247 closed

[2021-10-04 01:32] jdesrosiers commented on #247
Thanks

[2021-10-04 01:32] dougwilson commented on #247
Basically we don't have any specific rules, as we don't make them :) we simply aggregate the data from the tree sources listed at the top of the readme.

[2021-10-04 21:23] Martii commented on #247
@jdesrosiers
While I didn't find much with a quick skim of rfc's at IETF... did find rfc2045, rfc2046, rfc2047, rfc2048, and rfc4288 *(naming requirements)*. Having the right industry buzz, canonical lexical grammar, names is usually a key for finding information. More skimming/reading is up to you. :smile_cat:

If I were to take an educated guess it would probably be US-ASCII 7-bit and extensions

[2021-10-04 22:31] jdesrosiers commented on #247
Thanks, I did some similar reading before asking the question and came up with nothing as well. I was hoping to get this added to the `custom-types.json` list. My understanding is that that's the place types can be defined that aren't part of the three sources you pull from. YAML, for example, isn't on any of those lists. Do I understand correctly that JSON Schema could be added in this way as wel

[2021-10-04 22:44] dougwilson commented on #247
As far as the custom-types, in the ideal world we wouldn't need it, but I acknowledge that there are various things that should be included in the database that are not a part of our sources. Really, as I do not desire to be a registry or debate assignments, the only "rule" is that there should be a primary source that links the file extension to the media type. The best source is some kind of spe

[2021-11-09 12:56] wasimEnayathulla opened #251 "Latest version :"
I am not able to install the latest version.  1.51.0
![Screenshot from 2021-11-09 18-23-41](https://user-images.githubusercontent.com/87307047/140928048-56db9ad5-b306-4236-b8f9-08b6669cb246.png)

[2021-11-09 13:11] dougwilson commented on #251
Sorry you are having troubles with npm. You will need to contact npm, as there is nothing more I can do frok my end, as it is published.

[2021-11-09 13:11] #251 closed

[2021-12-19 20:47] harrycollin commented on #177
is this still the case?

[2021-12-28 09:26] ajeyacube commented on #177
@dougwilson We are also facing the same issue with jfif extension. Are there any update?

[2022-01-09 16:06] getify commented on #194
@dougwilson According to [this tweet](https://twitter.com/bradleymeck/status/1480198522737733632) (by @bmeck), it seems like maybe [the RFC](https://datatracker.ietf.org/doc/draft-ietf-dispatch-javascript-mjs/) has now received official approval? I may be misunderstanding the status, so apologies if so.

But if it's indeed been "approved", can this library now move forward with updating to "text/j

[2022-01-09 16:27] mathiasbynens commented on #194
The RFC-to-be's current IESG status is "Approved-announcement to be sent". The draft has been formally approved, but there are some administrative things left to take care of before it gets officially published as an RFC.

I don't think we should wait for that to happen to take action here, though.

[2022-01-10 11:02] Martii commented on #194
My 2 cents is not to jump the gun... drafts are drafts for a reason... it's something that can be achieved when it's actually published. While it would be nice to have it more standardized patience would be a good thing to make sure the draft doesn't expire at its expiry date without a resolution.

[2022-01-10 13:09] getify commented on #194
First of all, this has been literally years in the making... it's not like they drafted this last week. It widely represents web reality for at least 5+ years now.

Moreover:

"The draft has been formally approved, but there are some administrative things..."

This doesn't at all sound like a draft that's in jeopardy of being abandoned. Let's not deal in generalities here, but focus on the specifi

[2022-01-29 05:53] #224 closed

[2022-02-01 08:48] kusma opened #256 ".asc extension maps to application/pgp-signature instead of application/pgp-keys"
According to IANA, [PGP keys](https://www.iana.org/assignments/media-types/application/pgp-keys) only have one extension, `.asc`. However, [PGP signatures](www.iana.org/assignments/media-types/application/pgp-signature) can either have `.asc` or `.sig`.

The likely reason for `.asc` being used for both this is that the extension comes from the "ASCII-armored" concept rather than what the usage of

[2022-02-01 13:18] dougwilson commented on #256
Thanks for the report. This module aggregates from the three sources listed at the top of the readme. I will look why the IANA one is not getting pulled. The current one comes from Apache, so if you don't think that is right, you will need to bring that up with the Apache project to correct.

[2022-02-01 14:39] #256 closed

[2022-03-16 15:27] d-stew opened #257 "'cogent' is breaking builds on SSH Git protocol"
The `cogent` dependency is using unencryted Git protocol, which breaks builds on SSH as DSA keys are no longer supported.

See: https://github.blog/2021-09-01-improving-git-protocol-security-github/

It seems `cogent` is no longer actively maintained. Is it possible to find an alternative for this package?

[2022-03-16 15:34] dougwilson commented on #257
It's just a devDependency, so doesn't matter to anyone using the module itself, and low priority for me. If you would like to make a pull request to change it to something else, please do! I have been wanting for a long time, but it seemed like a big, low priority task so I never did yet, lol.

[2022-03-16 15:34] #257 closed

[2022-03-16 15:38] dougwilson commented on #257
FWIW every dependency of `cogent` is an npm reference, no git references:
[code]

[2022-03-16 18:05] dougwilson commented on #257
I just installed everything afresh and didn't have any failures, nor can I find anything thay actually uses the unencrypted Git procol has claimed, so idk if there is any quick fix, as I cannot replicate any issue.

[2022-03-24 00:16] zsakowitz opened #259 "TypeScript file extensions map to incorrect file types"
Currently, `.ts` maps to `video/mp2t`, `.mts` maps to `model/vnd.mts`, and `.tsx` and `.cts` aren't in the database.

TypeScript uses these extensions:
- `.ts` is a standard TypeScript file (currently `video/mp2t`, should be `text/typescript`)
- `.tsx` is a TypeScript + JSX file (should be `text/tsx`)
- `.mts` compiles to a `.mjs` file and always runs as an ES module (currently `model/vnd.mts`, sh

[2022-03-24 00:19] dougwilson commented on #259
Hi @zsakowitz and thank you for your issue. This module only provides a list of mime types that has a property of extensions associated with that mime type. You can find the list of where the data is sourced from in the README and instructions for how to get a new mime type (and thus extensions) added. Please check out https://github.com/jshttp/mime-db#contributing

[2022-03-24 00:19] #259 closed

[2022-04-04 06:46] Flaurite opened #260 "Webjar 1.52.0 version"
### Description
Could you please release the new 1.52.0 webjar version?
https://www.webjars.org/

[2022-04-04 06:47] dougwilson commented on #260
Hello, I have no idea what that is, nor how to release any version. This is just a Node.js module I publish on npm.

[2022-04-04 06:47] #260 closed

[2022-04-04 07:01] dougwilson commented on #260
As far as I can tell from looking at the website and stuff, there is no way I could publish it there, anyway. It seems designed to automatically mirror npm. You likely need to open an issue with the project to help them determine what is wrong with their mirroring.

[2022-04-04 08:58] Flaurite commented on #260
Thank you for the hint! It seems the webjars.org can automatically detect the new module version. I just added 1.52.0 version by clicking plus button and choosing NPM webjar type.

[2022-04-13 07:53] jonnyfux opened #261 "More type mappings"
I suggest four additions that are currently missing

1. .properties => text/plain ; **Reason**: Used by Ubuntu
2. bcmap => application/octet-stream **Reason**: Used by Ubuntu, and [here](https://www.filesuffix.com/de/extension/bcmap#ext0)
3. gltf => text/plain ; **Reason**: Used by Ubuntu
4. map => text/plain ; **Reason**: Used by Ubuntu

[2022-04-13 07:56] dougwilson commented on #261
Hello, and thank you for your suggestions. You can find instructions for contributing in the readme: https://github.com/jshttp/mime-db#contributing

[2022-04-13 07:56] #261 closed

[2022-05-11 21:34] dougwilson commented on #190
I think the general discussion has mostly ended now, as the original has been identified.

[2022-05-11 21:34] #190 closed

[2022-05-20 19:22] getify opened #266 "Re-raising the now updated JS mime-type issue (from #194)"
( I don't know why the conversation in #194 was locked (seems a silly overreaction), but whatever. I'm reopening discussion now. )

The proposed IETF RFC we had been discussing ([RFC 9239](https://www.rfc-editor.org/rfc/rfc9239)) over in #194 has now officially been published. There shouldn't be any other question/debate about it now: the only official registered MIME type for JS is "text/javascri

[2022-05-20 19:25] dougwilson commented on #266
Hello @getify sorry about that! At the time, the issue was in contention, the spec was still a draft, and more was being done. Now it is finalized, and there is an open PR. Unfortunately NGINX and Apache have still not yet updated, and those are sources for this database as well, so the database ends up with both mime types with `.js` as the file extension. We are working to get those upstreams up

[2022-05-20 19:44] dougwilson commented on #266
Since type types are now marked as "obsolete" in IANA, I'm thinking that changing our pull logic to exclude types marked as obsolete, so that may help downstream libs like `mime` decide which type to use for `.js` extension -- the apache/nginx one or the iana one. So far, it's been a week and really have not heard anything back from those projects, so we may release a new db with both in there and

[2022-05-20 19:57] #194 closed

[2022-05-20 22:43] dougwilson commented on #176
I'm going to close this as it has been a few years and it is still neither (a) registered with IANA nor (b) just clarified on their own documentation what file extension for what MIME type. If the project is not interested in even documenting it on their own site, it would seem they don't want the association known, and so won't be included here without at least one of those being done.

[2022-05-20 22:43] #176 closed

[2022-05-20 22:55] #81 closed

[2022-06-26 21:07] binyamin opened #268 "Add `.json` extension for `application/jf2feed+json`"
If this is good to go, I can open a PR
https://github.com/jshttp/mime-db/blob/c9242a9b7d4bb25d7a0c9244adec74aeef08d8a1/src/iana-types.json#L1028-L1032

[2022-06-26 21:08] binyamin commented on #268
Note that `.jf2` is used as well, although the IANA page doesn't mention it.

[2022-07-03 09:24] lukjoh opened #269 "Wrong return type for 'js' extension"
According to:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types

The mime type for javascript is now:
   text/javascript

The previous type of:
   application/javascript
is now depreciated.

[2022-07-03 09:29] lukjoh commented on #269
I just realised this has already been brought up in another issue. Sorry.

[2022-07-03 09:29] #269 closed

[2022-07-19 22:21] shirotech opened #271 "`.mov` vs `.qt`"
Why is `.qt` preferred over `.mov` for `video/quicktime`, did a quick google lands here: https://discussions.apple.com/thread/951061#:~:text=No%20difference%20except%20the%20file,be%20understood%20by%20Web%20servers.

I guess, wanting to know who or what decides which extension should come first in the array? Seems in this case the preference is neither determined by correctness or even alphabetic

[2022-07-19 22:25] dougwilson commented on #271
There is no significance to the order of extensions in the array. For this particular example, they are simply listed in the same order as they are in the Apache source they come from.

[2022-07-19 22:25] #271 closed

[2022-07-19 22:28] shirotech commented on #271
@dougwilson thank you for the response, however there are projects that uses the array and takes the first element and calls it a day, they won't change, this won't change. So I guess will need to raise this with `apache` then?

[2022-07-19 22:29] dougwilson commented on #271
I guess? I mean, I can modify the code here to sort them alphabetically, but who knows what collateral damage that would cause if what you assert is true...

[2022-07-19 22:32] shirotech commented on #271
@dougwilson cool, would you be willing to merge a PR with a single entry change? Will there be a build process that gets overwritten?

I also don't think a batch process to make everything alphabetical like that is a good idea.

[2022-07-19 22:34] dougwilson commented on #271
The `db.json` file is not hand-curated: it is a build process that pulls the data from the three sources listed at the top of the readme and merges the data into that file. The goal of the project is zero hand-curation, as it would be too immense, and not something I signed up for :) Whatever change to the build project needs to just be a generic change, which is why I suggested alpha-ordering `ex

[2022-07-19 22:41] shirotech commented on #271
As it is an open-source project, the community, also the users of this project can help out also :)

[2022-07-19 22:48] shirotech commented on #271
Sounds like it will be rough to have a fork, just only really wanted to resolve a package from a 3rd party. Anyways for those who are looking at a similar issue, can use a feature called patch from yarn https://yarnpkg.com/cli/patch and pnpm https://pnpm.io/cli/patch

[2022-07-19 22:54] dougwilson commented on #271
Well, it just depends on what you want to do. For example, you don't need to fork pre-se. Perhaps a file in the repo with the list of overrides, similar to the patch idea above and then it either uses this module as a dependency or uses a build process to pull the data, merges them together and that's the export. Of course, anything you don't adjust by hand is suspectable to change suddenly, so I

[2022-10-03 16:27] ioggstream opened #273 "Add .yamlld extension"
## I expect

To associate .yamlld extension to .yaml files. See https://github.com/json-ld/yaml-ld

[2022-10-03 16:29] ioggstream opened #274 "YAML is application/yaml"
## I expect

- YAML media type registration is going to file application/yaml See https://datatracker.ietf.org/doc/draft-ietf-httpapi-yaml-mediatypes/

## Instead

- it is published as text/yaml

[2022-10-03 16:32] dougwilson commented on #274
Hello, and thank you for providing that. It looks like that is still a draft, and so no guarantee that is going to be finalized. Once the registration is published, this module will pull it in automatically from IANA.

[2022-10-03 16:32] #274 closed

[2022-10-03 16:39] ioggstream commented on #274
@dougwilson OK, thanks!

[2022-10-03 16:42] dougwilson commented on #274
No problem! We have seen a few times over the years where some really ingrained type that was never registered had a draft RFC to change it to something else, but ultimately was abandoned due to friction to change it in reality. So we'll see if this actually gets published fully (and then it'll just be auto pulled in anyway by our feed to IANA).

[2022-10-23 21:51] Andyrich20000 opened #276 "Photos"

[2022-11-22 00:23] kleydon opened #277 "audio/x-flac -> audio/flac"
In mime-db/db.json:
[code]

* According to the Mozilla Developer Network (MDN) [here](https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Containers#flac), `audio/x-flac` is non-standard, while `audio/flac` is standard.

* Xiph, which created the flac format, lists the mime-type as `audio/flac` [here](https://wiki.xiph.org/MIME_Types_and_File_Extensions).

* The [mimetype site](https://mime

[2022-11-22 00:26] dougwilson commented on #277
Hi @kleydon and thank you for your issue. The entry you are pointing to is just showing the data the Apache project has. This project takes from the three sources listed at the top of the readme, like the Apache one listed. If you think that the Apache entry should be changed, you'll want to raise an issue with the Apache project so they can change it. Any changes will be pulled in to our database

[2022-11-22 00:26] #277 closed

[2022-11-22 00:43] kleydon commented on #277
Ah - got it.